
module hostnamectl-fix 1.0;

require {
	type initrc_t;
	type systemd_hostnamed_t;
	class dbus send_msg;
}

#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t initrc_t:dbus send_msg;
