# Default sample of automated response (config) file for Oracle DB Installation Enterprise Edition (EE)
# /inventory/response/oracle.server_EE.rsp


RESPONSEFILE_VERSION=2.2.1.0.0

#-------------------------------------------------------------------------------
#Name       : UNIX_GROUP_NAME
#Datatype   : String
#Description: Unix group to be set for the inventory directory. Valid only in Unix platforms.
#Example: UNIX_GROUP_NAME = "install"
#-------------------------------------------------------------------------------
UNIX_GROUP_NAME="svrtech"

#-------------------------------------------------------------------------------
#Name       : FROM_LOCATION
#Datatype   : String
#Description: Complete path to the products.xml.
#Example: FROM_LOCATION = "../stage/products.xml"
#-------------------------------------------------------------------------------
FROM_LOCATION="/scratch/app/shiphome/database/Disk1/install/../stage/products.xml"

#-------------------------------------------------------------------------------
#Name       : FROM_LOCATION_CD_LABEL
#Datatype   : String
#Description: This variable should only be used in multi-CD installations. It includes the label of the compact disk where the file "products.xml" exists. The label can be found in the file "disk.label" in the same directory as products.xml.
#Example: FROM_LOCATION_CD_LABEL = "CD Label"
#-------------------------------------------------------------------------------
FROM_LOCATION_CD_LABEL=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : ORACLE_HOME
#Datatype   : String
#Description: Complete path of the Oracle Home.
#Example: ORACLE_HOME = "C:\OHOME1"
#-------------------------------------------------------------------------------
ORACLE_HOME="/scratch/app/user/product/19.0.0/dbhome_1"

#-------------------------------------------------------------------------------
#Name       : ORACLE_BASE
#Datatype   : String
#Description: Complete path of the Oracle Base.
#Example: ORACLE_BASE = "C:\app"
#-------------------------------------------------------------------------------
ORACLE_BASE="/scratch/app/user"

#-------------------------------------------------------------------------------
#Name       : ORACLE_HOME_NAME
#Datatype   : String
#Description: Oracle Home Name. Used in creating folders and services.
#Example: ORACLE_HOME_NAME = "OHOME1"
#-------------------------------------------------------------------------------
ORACLE_HOME_NAME="OraDB19Home1"

#-------------------------------------------------------------------------------
#Name       : SHOW_WELCOME_PAGE
#Datatype   : Boolean
#Description: Set to true if the Welcome page in OUI needs to be shown.
#Example: SHOW_WELCOME_PAGE = false
#-------------------------------------------------------------------------------
SHOW_WELCOME_PAGE=true

#-------------------------------------------------------------------------------
#Name       : SHOW_CUSTOM_TREE_PAGE
#Datatype   : Boolean
#Description: Set to true if the custom tree page in OUI needs to be shown.
#Use this page to select or de-select dependencies. This page appears only in a custom install type.
#Example: SHOW_CUSTOM_TREE_PAGE = false
#-------------------------------------------------------------------------------
SHOW_CUSTOM_TREE_PAGE=true

#-------------------------------------------------------------------------------
#Name       : SHOW_COMPONENT_LOCATIONS_PAGE
#Datatype   : Boolean
#Description: Set to true if the component locations page in OUI needs to be shown.
#This page only appears if there are products whose installed directory can be changed.
#If you set this to false you will prevent the user from being able to specify alternate directories.
#Example: SHOW_COMPONENT_LOCATIONS_PAGE = false
#-------------------------------------------------------------------------------
SHOW_COMPONENT_LOCATIONS_PAGE=true

#-------------------------------------------------------------------------------
#Name       : SHOW_SUMMARY_PAGE
#Datatype   : Boolean
#Description: Set to true if the summary page in OUI needs to be shown.
#The summary page shows the list of components that will be installed in this session.
#Example: SHOW_SUMMARY_PAGE = true
#-------------------------------------------------------------------------------
SHOW_SUMMARY_PAGE=true

#-------------------------------------------------------------------------------
#Name       : SHOW_INSTALL_PROGRESS_PAGE
#Datatype   : Boolean
#Description: Set to true if the install progress page in OUI needs to be shown.
#This page shows the current status in the installation. The current status includes the product being installed and the file being copied.
#Example: SHOW_INSTALL_PROGRESS_PAGE = true
#-------------------------------------------------------------------------------
SHOW_INSTALL_PROGRESS_PAGE=true

#-------------------------------------------------------------------------------
#Name       : SHOW_REQUIRED_CONFIG_TOOL_PAGE
#Datatype   : Boolean
#Description: Set to true if the required config assistants page in OUI needs to be shown.
#This page shows the list of required configuration assistants that are part of this installation.
#It shows the status of each assistant, including any failures with detailed information on why it failed.
#Example: SHOW_REQUIRED_CONFIG_TOOL_PAGE = true
#-------------------------------------------------------------------------------
SHOW_REQUIRED_CONFIG_TOOL_PAGE=true

#-------------------------------------------------------------------------------
#Name       : SHOW_CONFIG_TOOL_PAGE
#Datatype   : Boolean
#Description: Set to true if the config assistants page in OUI needs to be shown.
#This page shows the list of configuration assistants that are part of this installation and are configured to launch automatically.
#It shows the status of each assistant, including any failures with detailed information on why it failed.
#Example: SHOW_CONFIG_TOOL_PAGE = true
#-------------------------------------------------------------------------------
SHOW_CONFIG_TOOL_PAGE=true

#-------------------------------------------------------------------------------
#Name       : SHOW_RELEASE_NOTES
#Datatype   : Boolean
#Description: Set to true if the release notes of this installation need to be shown at the end of installation.
#This dialog is launchable from the End of Installation page and shows the list of release notes available for the products just installed.
# This also requires the variable SHOW_END_SESSION_PAGE variable to be set to true.
#Example: SHOW_RELEASE_NOTES = true
#-------------------------------------------------------------------------------
SHOW_RELEASE_NOTES=true

#-------------------------------------------------------------------------------
#Name       : SHOW_ROOTSH_CONFIRMATION
#Datatype   : Boolean
#Description: Set to true if the Confirmation dialog asking to run the root.sh script in OUI needs to be shown.
#Valid only for Unix platforms.
#Example: SHOW_ROOTSH_CONFIRMATION = true
#-------------------------------------------------------------------------------
SHOW_ROOTSH_CONFIRMATION=true

#-------------------------------------------------------------------------------
#Name       : SHOW_END_SESSION_PAGE
#Datatype   : Boolean
#Description: Set to true if the end of session page in OUI needs to be shown.
#This page shows if the installation is successful or not.
#Example: SHOW_END_SESSION_PAGE = true
#-------------------------------------------------------------------------------
SHOW_END_SESSION_PAGE=true

#-------------------------------------------------------------------------------
#Name       : SHOW_EXIT_CONFIRMATION
#Datatype   : Boolean
#Description: Set to true if the confirmation when exiting OUI needs to be shown.
#Example: SHOW_EXIT_CONFIRMATION = true
#-------------------------------------------------------------------------------
SHOW_EXIT_CONFIRMATION=true

#-------------------------------------------------------------------------------
#Name       : NEXT_SESSION
#Datatype   : Boolean
#Description: Set to true to allow users to go back to the File Locations page for another installation. This flag also needs to be set to true in order to process another response file (see NEXT_SESSION_RESPONSE).
#Example: NEXT_SESSION = true
#-------------------------------------------------------------------------------
NEXT_SESSION=false

#-------------------------------------------------------------------------------
#Name       : NEXT_SESSION_ON_FAIL
#Datatype   : Boolean
#Description: Set to true to allow users to invoke another session even if current install session has failed. This flag is only relevant if NEXT_SESSION is set to true.
#Example: NEXT_SESSION_ON_FAIL = true
#-------------------------------------------------------------------------------
NEXT_SESSION_ON_FAIL=true

#-------------------------------------------------------------------------------
#Name       : NEXT_SESSION_RESPONSE
#Datatype   : String
#Description: Set to true to allow users to go back to the File Locations page for another installation. This flag also needs to be set to true in order to process another response file (see NEXT_SESSION_RESPONSE).
#Example: NEXT_SESSION_RESPONSE = "nextinstall.rsp"
#-------------------------------------------------------------------------------
NEXT_SESSION_RESPONSE=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : DEINSTALL_LIST
#Datatype   : StringList
#Description: List of components to be deinstalled during a deinstall session.
#Example: DEINSTALL_LIST = {"oracle.server","19.0.0.0.0"}
#-------------------------------------------------------------------------------
DEINSTALL_LIST={"oracle.server","19.0.0.0.0"}

#-------------------------------------------------------------------------------
#Name       : SHOW_DEINSTALL_CONFIRMATION
#Datatype   : Boolean
#Description: Set to true if deinstall confimation is needed during a deinstall session.
#Example: SHOW_DEINSTALL_CONFIRMATION = true
#-------------------------------------------------------------------------------
SHOW_DEINSTALL_CONFIRMATION=true

#-------------------------------------------------------------------------------
#Name       : SHOW_DEINSTALL_PROGRESS
#Datatype   : Boolean
#Description: Set to true if deinstall progress is needed during a deinstall session.
#Example: SHOW_DEINSTALL_PROGRESS = true
#-------------------------------------------------------------------------------
SHOW_DEINSTALL_PROGRESS=true

#-------------------------------------------------------------------------------
#Name       : CLUSTER_NODES
#Datatype   : StringList
#Description: This variable represents the cluster node names selected by the user for installation.
#Example: CLUSTER_NODES = {"node1","node2"}
#-------------------------------------------------------------------------------
CLUSTER_NODES={}

#-------------------------------------------------------------------------------
#Name       : ACCEPT_LICENSE_AGREEMENT
#Datatype   : Boolean
#Description: By setting this variable to true, you are accepting the license agreement. This variable is used only for silent installations.
#Example: ACCEPT_LICENSE_AGREEMENT = true
#-------------------------------------------------------------------------------
ACCEPT_LICENSE_AGREEMENT=false

#-------------------------------------------------------------------------------
#Name       : METALINK_LOCATION
#Datatype   : String
#Description: This variable represents the Oracle metalink location.
#-------------------------------------------------------------------------------
METALINK_LOCATION=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : METALINK_USERNAME
#Datatype   : String
#Description: This variable represents the Oracle metalink user name.
#-------------------------------------------------------------------------------
METALINK_USERNAME=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : METALINK_PASSWORD
#Datatype   : String
#Description: This variable represents the corresponding Oracle metalink password.
#-------------------------------------------------------------------------------
METALINK_PASSWORD=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : PROXY_HOST
#Datatype   : String
#Description: The proxy host  used to connect to Oracle metalink.
#Example: PROXY_HOST =
#-------------------------------------------------------------------------------
PROXY_HOST=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : PROXY_PORT
#Datatype   : String
#Description: The proxy port used to connect to Oracle metalink.
#Example: PROXY_PORT =
#-------------------------------------------------------------------------------
PROXY_PORT=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : PROXY_REALM
#Datatype   : String
#Description: The realm for the proxy used to connect to Oracle metalink.
#Example: PROXY_REALM =
#-------------------------------------------------------------------------------
PROXY_REALM=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : PROXY_USER
#Datatype   : String
#Description: The username for the proxy  used to connect to Oracle metalink.
#Example: PROXY_USER =
#-------------------------------------------------------------------------------
PROXY_USER=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : PROXY_PWD
#Datatype   : String
#Description: The password for the proxy  used to connect to Oracle metalink.
#Example: PROXY_PWD =
#-------------------------------------------------------------------------------
PROXY_PWD=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : DONT_PROXY_FOR
#Datatype   : String
#Description: The dont proxy for list.
#Example: DONT_PROXY_FOR =
#-------------------------------------------------------------------------------
DONT_PROXY_FOR=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : TOPLEVEL_COMPONENT
#Datatype   : StringList
#Description: The top level component to be installed in the current session.
#Example: TOPLEVEL_COMPONENT = {"oracle.server","19.0.0.0.0"}
#-------------------------------------------------------------------------------
TOPLEVEL_COMPONENT={"oracle.server","19.0.0.0.0"}

#-------------------------------------------------------------------------------
#Name       : SHOW_SPLASH_SCREEN
#Datatype   : Boolean
#Description: Set to true if the initial splash screen in OUI needs to be shown.
#Example: SHOW_SPLASH_SCREEN = true
#-------------------------------------------------------------------------------
SHOW_SPLASH_SCREEN=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_ProductName
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_ProductName="db"

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_SID
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_SID=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_RACInstall
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_RACInstall=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_IsOracleHomeShared
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_IsOracleHomeShared=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_IsOracleBaseShared
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_IsOracleBaseShared=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_OSDBA
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OSDBA="dba"

#-------------------------------------------------------------------------------
#Name       : oracle_install_OSOPER
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OSOPER="oper"

#-------------------------------------------------------------------------------
#Name       : oracle_install_OSBKP
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OSBKP="backupdba"

#-------------------------------------------------------------------------------
#Name       : oracle_install_OSDGD
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OSDGD="dgdba"

#-------------------------------------------------------------------------------
#Name       : oracle_install_OSKMT
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OSKMT="kmdba"

#-------------------------------------------------------------------------------
#Name       : oracle_install_OSASM
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OSASM=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_OSRAC
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OSRAC="racdba"

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_SkipPathUpdate
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_SkipPathUpdate=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_IsOracleServiceUserExists
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_IsOracleServiceUserExists=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_IsBuiltInAccount
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_IsBuiltInAccount=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_IsVirtualAccount
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_IsVirtualAccount=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_skip_winSecurity
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_skip_winSecurity=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_isExistingBase
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_isExistingBase=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_isExistingHome
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_isExistingHome=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_OracleHomeUserName
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OracleHomeUserName=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_OracleHomeUserPassword
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OracleHomeUserPassword=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : oracle_install_OracleSVCUserPWDReq
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OracleSVCUserPWDReq=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_LocalSystem
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_LocalSystem="NT AUTHORITY\SYSTEM"

#-------------------------------------------------------------------------------
#Name       : oracle_install_DirectoryStorageType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_DirectoryStorageType="Directory"

#-------------------------------------------------------------------------------
#Name       : oracle_install_FileStorageType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_FileStorageType="File"

#-------------------------------------------------------------------------------
#Name       : oracle_install_RegistryStorageType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_RegistryStorageType="Registry"

#-------------------------------------------------------------------------------
#Name       : oracle_install_RawDiskStorageType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_RawDiskStorageType="RawDisk"

#-------------------------------------------------------------------------------
#Name       : oracle_install_RegistryPermissionType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_RegistryPermissionType="Registry"

#-------------------------------------------------------------------------------
#Name       : oracle_install_HomeType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_HomeType="1"

#-------------------------------------------------------------------------------
#Name       : oracle_install_ClientHomeType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_ClientHomeType=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_GIHomeType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_GIHomeType=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_UsersGroup
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_UsersGroup="USERS"

#-------------------------------------------------------------------------------
#Name       : oracle_install_client_ic_FlattenOracleHome
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_client_ic_FlattenOracleHome=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_architecture
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_architecture="64"

#-------------------------------------------------------------------------------
#Name       : oracle_install_client_upgrading
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_client_upgrading=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_client_internalInstallType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_client_internalInstallType="Custom"

#-------------------------------------------------------------------------------
#Name       : oracle_install_client_skipAclForFoldersUnderOB
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_client_skipAclForFoldersUnderOB={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_comp_clrintg_ode_net_Selected
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_comp_clrintg_ode_net_Selected=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_comp_clrintg_ode_net_2_Selected
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_comp_clrintg_ode_net_2_Selected=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_comp_rdbms_partitioning_Selected
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_comp_rdbms_partitioning_Selected=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_comp_rdbms_dm_Selected
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_comp_rdbms_dm_Selected=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_comp_rdbms_rat_Selected
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_comp_rdbms_rat_Selected=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_comp_oraolap_Selected
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_comp_oraolap_Selected=true

#-------------------------------------------------------------------------------
#Name       : b_schedulerAgentSelected
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
b_schedulerAgentSelected=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_LaunchDBCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_LaunchDBCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_LaunchODMA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_LaunchODMA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_dbcaCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_dbcaCmd="bin/dbca"

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_dbuaCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_dbuaCmd="bin/dbua"

#-------------------------------------------------------------------------------
#Name       : oracle_install_LaunchNetCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_LaunchNetCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchNETCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchNETCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_LaunchNETCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_LaunchNETCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_client_LaunchNETCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_client_LaunchNETCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_gsm_LaunchNETCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_gsm_LaunchNETCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_tg_LaunchNETCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_tg_LaunchNETCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_LaunchSchedulerAgent
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_LaunchSchedulerAgent=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_netcaCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_netcaCmd="bin/netca"

#-------------------------------------------------------------------------------
#Name       : oracle_install_netcaDeinstCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_netcaDeinstCmd="bin/netca_deinst.sh"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_GIUpgrade
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_GIUpgrade=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_isHAOrCRSConfigured
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_isHAOrCRSConfigured=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchASMCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchASMCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchOifcfg
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchOifcfg=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchCluvfy
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchCluvfy=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchEmca
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchEmca=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchRootBat
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchRootBat=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_crsInstCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_crsInstCmd=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_crsDeinstCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_crsDeinstCmd=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_crsUpgrdCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_crsUpgrdCmd=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_cluvfyCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_cluvfyCmd="bin/cluvfy"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_cluvfyargs
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_cluvfyargs=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_asmcaCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_asmcaCmd="asmca"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_emcaCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_emcaCmd="emca"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_configuredCRSHome
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_configuredCRSHome=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_NoMigration
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_NoMigration=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_RDBMSInstalling
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_RDBMSInstalling=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_UseDBControl
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_UseDBControl=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_InstallOption
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_InstallOption=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_InstallOption
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_InstallOption="INSTALL_DB_SWONLY"

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_InstallEdition
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_InstallEdition="EE"

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_ConfigurationType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_ConfigurationType="Software Only"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_OCRPartitionLocation
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_OCRPartitionLocation=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_InstallType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_InstallType="EE"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_StorageOption
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_StorageOption=0

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_DiskGroupName
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_DiskGroupName=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_DiskDiscoveryString
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_DiskDiscoveryString=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_Disks
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_Disks={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_DiskGroupRedundancy
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_DiskGroupRedundancy=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_DiskGroupAUSize
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_DiskGroupAUSize=1

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_UseExistingDG
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_UseExistingDG=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_prereq_Ignored
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_prereq_Ignored=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_OCRRedundancy
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_OCRRedundancy=0

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_VotingDiskRedundancy
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_VotingDiskRedundancy=0

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ClusterName
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ClusterName=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_CommaSeparatedNodes
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_CommaSeparatedNodes=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_OCRMirrorLocation
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_OCRMirrorLocation=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_OCRMirrorLocation2
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_OCRMirrorLocation2=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_DiskDriveMapping
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_DiskDriveMapping={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_OCRDeviceList
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_OCRDeviceList=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_VotingDiskList
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_VotingDiskList=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_VDSKMirror1Location1
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_VDSKMirror1Location1=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_VDSKMirror1Location2
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_VDSKMirror1Location2=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_VDSKLocation
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_VDSKLocation=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_SWOnly
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_SWOnly=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_SwitchGIHome
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_SwitchGIHome=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_PatchGIHome
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_PatchGIHome=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_swonly_multinode
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_swonly_multinode=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_SwitchGIHome_transparent
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_SwitchGIHome_transparent=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_LanguageID
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_LanguageID=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_mgmtcaCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_mgmtcaCmd="bin/mgmtca"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ConfigureMgmtDB
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ConfigureMgmtDB=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_MgmtDB_CDB
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_MgmtDB_CDB=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_MgmtDB_Spfile
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_MgmtDB_Spfile=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchMGMTCA
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchMGMTCA=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_Upgrade
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_Upgrade=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ConfigureGNS
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ConfigureGNS=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_GNSType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_GNSType=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_GNSSubDomain
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_GNSSubDomain=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_GNSVIPAddress
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_GNSVIPAddress=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_SCANName
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_SCANName=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_SCANPortNumber
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_SCANPortNumber=0

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_FinalInterfaceList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_FinalInterfaceList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_NodeVips
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_NodeVips=""

#-------------------------------------------------------------------------------
#Name       : s_windowsSystemDirectory
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
s_windowsSystemDirectory=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_UseIPMI
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_UseIPMI=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_PublicNodeListWithoutDomain
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_PublicNodeListWithoutDomain={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_IsGridInstall
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_IsGridInstall=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_isRolling
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_isRolling=true

#-------------------------------------------------------------------------------
#Name       : oracle_install_LaunchInvUpdate
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_LaunchInvUpdate=false

#-------------------------------------------------------------------------------
#Name       : s_args
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
s_args=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_IsBigCluster
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_IsBigCluster=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_IsFlexCluster
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_IsFlexCluster=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_ConfigurationType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_ConfigurationType=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_GNSClientDataFile
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_GNSClientDataFile=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_ClientDataFile
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_ClientDataFile=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_TargetHubSize
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_TargetHubSize=0

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_HUBNodesList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_HUBNodesList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_AUTONodesList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_AUTONodesList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_RIMNodesList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_RIMNodesList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LEAFNodesList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LEAFNodesList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_HUBVipList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_HUBVipList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_AUTOVipList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_AUTOVipList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_RIMVipList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_RIMVipList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LEAFVipList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LEAFVipList={}

#-------------------------------------------------------------------------------
#Name       : ASM_INSTCOUNT
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
ASM_INSTCOUNT=3

#-------------------------------------------------------------------------------
#Name       : IOSERVER_INSTCOUNT
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
IOSERVER_INSTCOUNT=3

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_MigrateASM
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_MigrateASM=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_OraMTSPortNumber
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_OraMTSPortNumber="2030"

#-------------------------------------------------------------------------------
#Name       : oracle_install_9iRACPresent
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_9iRACPresent=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_UnixMakePath
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_UnixMakePath="/usr/bin/make"

#-------------------------------------------------------------------------------
#Name       : oracle_install_installerCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_installerCmd="runInstaller"

#-------------------------------------------------------------------------------
#Name       : oracle_install_windowsCommandLine
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_windowsCommandLine=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_db_SkipHARegistration
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_db_SkipHARegistration=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_IsVendorClusterware
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_IsVendorClusterware=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_Timezone
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_Timezone=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_classpath_separator
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_classpath_separator=":"

#-------------------------------------------------------------------------------
#Name       : oracle_install_PlatformDirectoryName
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_PlatformDirectoryName="linux64"

#-------------------------------------------------------------------------------
#Name       : oracle_install_rootConfiguration_ExecuteRootScript
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_rootConfiguration_ExecuteRootScript=false

#-------------------------------------------------------------------------------
#Name       : oracle_addnode_crs_NewNodeRoles
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_addnode_crs_NewNodeRoles=""

#-------------------------------------------------------------------------------
#Name       : CLUSTER_NEW_VIRTUAL_HOSTNAMES
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
CLUSTER_NEW_VIRTUAL_HOSTNAMES=""

#-------------------------------------------------------------------------------
#Name       : CLUSTER_NEW_HOST_NAMES
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
CLUSTER_NEW_HOST_NAMES=""

#-------------------------------------------------------------------------------
#Name       : CRS_DHCP_ENABLED
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
CRS_DHCP_ENABLED=false

#-------------------------------------------------------------------------------
#Name       : CRS_ADDNODE
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
CRS_ADDNODE=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_NodeListenerUser
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_NodeListenerUser=""

#-------------------------------------------------------------------------------
#Name       : oracle_addnode_crs_NewNodeSites
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_addnode_crs_NewNodeSites=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_tg_drdaasConnDesc
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_tg_drdaasConnDesc=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_tg_drdaasHostName
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_tg_drdaasHostName=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_tg_drdaasMapName
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_tg_drdaasMapName=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_tg_drdaasPortNumber
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_tg_drdaasPortNumber=0

#-------------------------------------------------------------------------------
#Name       : oracle_install_user
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_user="user"

#-------------------------------------------------------------------------------
#Name       : oracle_install_isHostExadata
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_isHostExadata=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_linkRDS
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_linkRDS=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_installUser
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_installUser=<Value Unspecified>

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_rootUpgradeMessage
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_rootUpgradeMessage=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_customRootShMessage
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_customRootShMessage=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_Ping_Targets
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_Ping_Targets=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_MgmtDB_DropDB
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_MgmtDB_DropDB=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_oldGIHome
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_oldGIHome=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_dropDBCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_dropDBCmd="crs/install/dropdb"

#-------------------------------------------------------------------------------
#Name       : oracle_install_asmca_additionalArgs
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_asmca_additionalArgs=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ClusterType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ClusterType=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ClusterClass
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ClusterClass=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_app_VIPAddress
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_app_VIPAddress=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_GIMRType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_GIMRType=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_RemoteGIMRDataFile
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_RemoteGIMRDataFile=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_MemberClusterDataFile
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_MemberClusterDataFile=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_FailureGroups
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_FailureGroups={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_QuorumFailureGroups
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_QuorumFailureGroups={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_backupDG_Name
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_backupDG_Name=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_backupDG_Disks
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_backupDG_Disks={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_backupDG_Redundancy
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_backupDG_Redundancy=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_backupDG_FailureGroups
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_backupDG_FailureGroups={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_backupDG_QuorumFailureGroups
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_backupDG_QuorumFailureGroups={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_UseIOService
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_UseIOService=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_IsExtendedCluster
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_IsExtendedCluster=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_Sites
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_Sites={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_SitesList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_SitesList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_backupDG_SitesList
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_backupDG_SitesList={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_asm_backupDG_AUSize
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_asm_backupDG_AUSize=1

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ConfigureAFD
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ConfigureAFD=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_AFD_DiskString
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_AFD_DiskString=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ConfigureRHPS
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ConfigureRHPS=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_UpgradeRHP
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_UpgradeRHP=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_RHPUpgradeCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_RHPUpgradeCmd="bin/rhprepos"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_RHPUpgrade_args
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_RHPUpgrade_args=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_OPC_Cluster_Type
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_OPC_Cluster_Type=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_OPC_NAT_Address
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_OPC_NAT_Address=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ODA_Config
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ODA_Config=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_ODA_SCAN_IPs
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_ODA_SCAN_IPs=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_srvctlCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_srvctlCmd="bin/srvctl"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_RHPS_args
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_RHPS_args=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_asmOnNAS_ocrDGSize
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_asmOnNAS_ocrDGSize=0

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_asmOnNAS_gimrDGSize
#Datatype   : Number
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_asmOnNAS_gimrDGSize=0

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_SCANType
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_SCANType=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_SCANClientDataFile
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_SCANClientDataFile=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchMgmtDBUpgrade
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchMgmtDBUpgrade=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_MgmtDB_UpgradeArgs
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_MgmtDB_UpgradeArgs=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_mgmtuaCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_mgmtuaCmd="bin/mgmtua"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_mgmtua_args
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_mgmtua_args=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_SiteGUIDs
#Datatype   : StringList
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_SiteGUIDs={}

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_LaunchPostGIMRUpgrade
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_LaunchPostGIMRUpgrade=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_post_GIMR_upgrade_args
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_post_GIMR_upgrade_args=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_srvmhelperCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_srvmhelperCmd="srvm/admin/srvmhelper"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_launchCHAModelUpgrade
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_launchCHAModelUpgrade=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_CHAmodel_upgradeArgs
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_CHAmodel_upgradeArgs=""

#-------------------------------------------------------------------------------
#Name       : oracle_install_perlCommandLine
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_perlCommandLine="perl/bin/perl "

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_CHAmodel_upgradeCmd
#Datatype   : String
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_CHAmodel_upgradeCmd="crs/install/post_gimr_ugdg.pl"

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_DryRunForGIUpgrade
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_DryRunForGIUpgrade=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_Wizard
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_Wizard=false

#-------------------------------------------------------------------------------
#Name       : oracle_install_crs_HAConfig
#Datatype   : Boolean
#Description:
#-------------------------------------------------------------------------------
oracle_install_crs_HAConfig=false

#-------------------------------------------------------------------------------
#Name       : SELECTED_LANGUAGES
#Datatype   : StringList
#Description: Languages in which the components will be installed.
#Component  : oracle.server
#-------------------------------------------------------------------------------

SELECTED_LANGUAGES={"ar","bn","pt_BR","bg","fr_CA","ca","hr","cs","da","nl","ar_EG","en","en_GB","et","fi","fr","de","el","iw","hu","is","in","it","ja","ko","lv","lt","ms","es_MX","no","pl","pt","ro","ru","zh_CN","sk","sl","es","sv","th","zh_TW","tr","uk","vi","es_ES"}

#-------------------------------------------------------------------------------
#Name       : COMPONENT_LANGUAGES
#Datatype   : StringList
#Description: Languages supported by this component.List of supported languages : {"en","fr","ar","bn","pt_BR","bg","fr_CA","ca","hr","cs","da","nl","ar_EG","en_GB","et","fi","de","el","iw","hu","is","in","it","ja","ko","es","lv","lt","ms","es_MX","no","pl","pt","ro","ru","zh_CN","sk","sl","es_ES","sv","th","zh_TW","tr","uk","vi"}
#Component  : oracle.server
#-------------------------------------------------------------------------------

COMPONENT_LANGUAGES={"ar","bn","pt_BR","bg","fr_CA","ca","hr","cs","da","nl","ar_EG","en","en_GB","et","fi","fr","de","el","iw","hu","is","in","it","ja","ko","lv","lt","ms","es_MX","no","pl","pt","ro","ru","zh_CN","sk","sl","es","sv","th","zh_TW","tr","uk","vi","es_ES"}

#-------------------------------------------------------------------------------
#Name       : INSTALL_TYPE
#Datatype   : String
#Description: Installation type of the component.
#Component  : oracle.server
#-------------------------------------------------------------------------------

INSTALL_TYPE="Enterprise Edition"
