<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>SAP HA Cluster (Pacemaker/Corosync)</short>
  <description>Core ports required for SAP High Availability (HA) Cluster. Maintained by Ansible Role sap_install.sap_ha_pacemaker_cluster.</description>
  
  {# Default UDP ports used by Corosync for inter-node communication and cluster heartbeats. -#}
  <port protocol="udp" port="5404-5405"/>
  
  {# TCP ports used by the Pacemaker Remote service to manage remote nodes or containerized resources. -#}
  <port protocol="tcp" port="2224"/>
  <port protocol="tcp" port="3121"/>

</service>