# Deny shell script execution and sourcing under SAP HANA directories
# File managed by Ansible

deny_audit perm=any all : ftype=text/x-shellscript dir=
{%- for __sap_hana_install_directory in sap_hana_install_directories -%}
{{ __sap_hana_install_directory }}/{{ "" if loop.last else "," }}
{%- endfor %}
 trust=0

