# Deny shell script execution and sourcing under SAP HANA directories
# File managed by Ansible

deny_audit perm=any all : ftype=text/x-shellscript dir=
{%- for __sap_hana_install_fapolicyd_trusted_directory in sap_hana_install_fapolicyd_trusted_directories -%}
{{ __sap_hana_install_fapolicyd_trusted_directory }}/{{ "" if loop.last else "," }}
{%- endfor %}
 trust=0

