# Allow no shell script execution and sourcing under SAP HANA directories

{% for __sap_hana_install_fapolicyd_trusted_directory in sap_hana_install_fapolicyd_trusted_directories %}
deny_audit perm=any all : ftype=text/x-shellscript dir={{ __sap_hana_install_fapolicyd_trusted_directory }}/ trust=0
{% endfor %}

