<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>SAP HANA Database</short>
  <description>Ports required for the SAP HANA Database. Maintained by Ansible Role sap_install.sap_hana_install.</description>

  {# SAP Host Agent ports for status and metrics communication. -#} 
  <port protocol="tcp" port="1128-1129"/>

  {# SAP HANA Data Provisioning Agent (DP Agent) port for SDA/SDI connectivity. -#}
  <port protocol="tcp" port="5050"/>

  {# SAP HANA Web Dispatcher HTTPS port. -#}
  <port protocol="tcp" port="43{{ sap_hana_install_number }}"/>

  {# Main SAP HANA SQL and internal communication range for the IndexServer and distributed nodes. -#}  
  <port protocol="tcp" port="3{{ sap_hana_install_number }}00-3{{ sap_hana_install_number }}90"/>

  {# The 4NNXX range supports SAP HANA Extended Application Services (XS) and other key internal services. -#}  
  <port protocol="tcp" port="4{{ sap_hana_install_number }}01"/>
  <port protocol="tcp" port="4{{ sap_hana_install_number }}02"/>
  <port protocol="tcp" port="4{{ sap_hana_install_number }}06"/>
  <port protocol="tcp" port="4{{ sap_hana_install_number }}12"/>
  <port protocol="tcp" port="4{{ sap_hana_install_number }}14"/>
  <port protocol="tcp" port="4{{ sap_hana_install_number }}40"/>

  {# Ports for SAP Service Layer or SAP Start Service for AS-Java/B1 components. -#}  
  <port protocol="tcp" port="5{{ sap_hana_install_number }}00"/>
  <port protocol="tcp" port="5{{ sap_hana_install_number }}13"/>
  <port protocol="tcp" port="5{{ sap_hana_install_number }}14"/>

  {# SAP HANA XSA runtime port range for the xscontroller-managed Web Dispatcher connection. -#}
  <port protocol="tcp" port="51000-51500"/>

  {# Internal administration port for the SAP Web Dispatcher, used for local communication only. -#}
  <port protocol="tcp" port="64997"/>

</service>