{{ ansible_managed | comment }}
# File created on: {{ template_host }}
# Template file:   {{ template_path }}
#

# SAP HANA Instance Parameters
sap_swpm_db_ip: '{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}'
sap_swpm_db_fqdn: '{{ ansible_fqdn }}'
sap_swpm_db_host: '{{ ansible_hostname }}'
sap_swpm_db_sid: '{{ sap_hana_install_sid }}'
sap_swpm_db_instance_nr: '{{ sap_hana_install_number }}'

# SAP HANA Passwords
sap_swpm_db_system_password: '{{ sap_hana_install_db_system_password|d(sap_hana_install_master_password) }}'
sap_swpm_db_systemdb_password: '{{ sap_hana_install_db_system_password|d(sap_hana_install_master_password) }}'
sap_swpm_db_sidadm_password: '{{ sap_hana_install_sidadm_password|d(sap_hana_install_master_password) }}'
