<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>SAP HANA System Replication</short>
  <description>Ports required for the SAP HANA System Replication. Maintained by Ansible Role sap_install.sap_ha_install_hana_hsr.</description>

  {# Fixed ports for SAP HANA System Replication (SR) and internal endpoint communication. -#}
  <port protocol="tcp" port="30105"/>
  <port protocol="tcp" port="30107"/>
  <port protocol="tcp" port="30140"/>
  <port protocol="tcp" port="4{{ sap_ha_install_hana_hsr_instance_number }}00-4{{ sap_ha_install_hana_hsr_instance_number }}99"/>

</service>