{
    "nfsMountOptions": "nfsvers=3",
    "defaults": {
	    "exportPolicy": "default"
    },
  "debug":false,
  "managementLIF":"{{ sap_hypervisor_node_preconfigure_cluster_config.trident.management }}",
  "dataLIF":"{{ sap_hypervisor_node_preconfigure_cluster_config.trident.data }}",
  "svm":"{{ sap_hypervisor_node_preconfigure_cluster_config.trident.svm }}",
  "backendName": "{{ sap_hypervisor_node_preconfigure_cluster_config.trident.backend }}",
  "aggregate":"{{ sap_hypervisor_node_preconfigure_cluster_config.trident.aggregate }}",
  "username":"{{ sap_hypervisor_node_preconfigure_cluster_config.trident.username }}",
  "password":"{{ sap_hypervisor_node_preconfigure_cluster_config.trident.password }}",
  "storageDriverName":"{{ sap_hypervisor_node_preconfigure_cluster_config.trident.storage_driver }}",
  "storagePrefix":"{{ sap_hypervisor_node_preconfigure_cluster_config.trident.storage_prefix }}",
  "version":1
}

