### inifile.params generated for SWPM Catalog Product ID is {{ sap_swpm_product_catalog_id }}

######
# installation_media
######
{% if 'installation_media' in sap_swpm_inifile_list %}
HDB_Software_Dialogs.useMediaCD = {{ sap_swpm_software_use_media }}
archives.downloadBasket = {{ sap_swpm_software_path }}
{% endif %}

######
# installation_media_swpm1
######
{% if 'installation_media_swpm1' in sap_swpm_inifile_list %}
SAPINST.CD.PACKAGE.LOAD1 = {{ sap_swpm_cd_export_pt1_path }}
SAPINST.CD.PACKAGE.LOAD2 = {{ sap_swpm_cd_export_pt2_path }}
SAPINST.CD.PACKAGE.LANGUAGE = {{ sap_swpm_cd_language_path }}
SAPINST.CD.PACKAGE.JAVA = {{ sap_swpm_cd_java_path }}
SAPINST.CD.PACKAGE.RDBMS = {{ sap_swpm_cd_rdms_path }}
{% endif %}

######
# sum
######
{% if 'sum' in sap_swpm_inifile_list %}
NW_ABAP_Prepare_SUM.SUMBatchFile = {{ sap_swpm_sum_batch_file }}
NW_ABAP_Prepare_SUM.prepareSUM = {{ sap_swpm_sum_prepare | lower }}
NW_ABAP_Prepare_SUM.startSUM = {{ sap_swpm_sum_start | lower }}
NW_ABAP_SPAM_Update.SPAMUpdateArchive = {{ sap_swpm_spam_update_sar }}
NW_ABAP_SPAM_Update.SPAMUpdateDecision = {{ sap_swpm_spam_update | lower }}
# NW_ABAP_SSFS_CustomKey.ssfsKeyInputFile = 
NW_ABAP_TMSConfig.configureTMS = {{ sap_swpm_configure_tms | lower }}
NW_ABAP_TMSConfig.transportPassword = {{ sap_swpm_tmsadm_password }}
{% endif %}

######
# credentials
######
{% if 'credentials' in sap_swpm_inifile_list %}
NW_GetMasterPassword.masterPwd = {{ sap_swpm_master_password }}
HDB_Schema_Check_Dialogs.schemaPassword = {{ sap_swpm_db_schema_password }}
nwUsers.sidadmPassword = {{ sap_swpm_sap_sidadm_password }}
NW_DDIC_Password.ddic000Password = {{ sap_swpm_ddic_000_password }}
DiagnosticsAgent.dasidAdmPassword = {{ sap_swpm_diagnostics_agent_password }}
hostAgent.sapAdmPassword = {{ sap_swpm_sapadm_password }}
# NW_ABAP_SSFS_CustomKey.ssfsKeyInputFile =
# storageBasedCopy.abapSchemaPassword =
storageBasedCopy.hdb.systemPassword = {{ sap_swpm_db_system_password }}
# storageBasedCopy.javaSchemaPassword =
{% endif %}

######
# db_hana_restore
######
{% if 'db_hana_restore' in sap_swpm_inifile_list %}
storageBasedCopy.hdb.instanceNumber = {{ sap_swpm_db_instance_nr }}
NW_HDB_getDBInfo.systemPasswordBackup = {{ sap_swpm_backup_system_password }}
HDB_Recovery_Dialogs.backupLocation = {{ sap_swpm_backup_location }}
HDB_Recovery_Dialogs.backupName = {{ sap_swpm_backup_prefix }}
HDB_Recovery_Dialogs.sapControlWsdlUrl = http://{{ sap_swpm_db_host }}:5{{ sap_swpm_db_instance_nr }}13/SAPControl?wsdl
HDB_Recovery_Dialogs.sidAdmName = {{ sap_swpm_db_sid|lower }}adm
HDB_Recovery_Dialogs.sidAdmPassword = {{ sap_swpm_db_sidadm_password }}
# HDB_Recovery_Dialogs.backupDestinationType = File
# HDB_System_Check_Dialogs.initTopology = false
# HDB_Recovery_Dialogs.skipExistenceCheck = false
# HDB_Recovery_Dialogs.sourceDatabaseSid =
# HDB_Recovery_Dialogs.useLicenseFile = false
# NW_CreateDBandLoad.movePVCforUsagePiAndDi =
# HDB_Recovery_Dialogs.licenseFile =
{% endif %}

######
# db_hana_config
######
{% if 'db_hana_config' in sap_swpm_inifile_list %}
# HDB_Schema_Check_Dialogs.dropSchema = false
HDB_Schema_Check_Dialogs.schemaName = {{ sap_swpm_db_schema }}
HDB_Schema_Check_Dialogs.validateSchemaName = false
# HDB_Userstore.doNotResolveHostnames =
# HDB_Userstore.useABAPSSFS = false
# NW_HDB_DBClient.checkCreateUserstore = true
{% endif %}

######
# db_hana_nw_connection
######
{% if 'db_hana_nw_connection' in sap_swpm_inifile_list %}
NW_HDB_getDBInfo.dbhost = {{ sap_swpm_db_host }}
NW_HDB_getDBInfo.dbsid = {{ sap_swpm_db_sid }}
NW_HDB_getDBInfo.systemid = {{ sap_swpm_db_sid }}
NW_HDB_getDBInfo.instanceNumber = {{ sap_swpm_db_instance_nr }}
NW_HDB_getDBInfo.systemDbPassword = {{ sap_swpm_db_systemdb_password }}
NW_HDB_getDBInfo.systemPassword = {{ sap_swpm_db_system_password }}
NW_HDB_DB.abapSchemaName = {{ sap_swpm_db_schema_abap }}
NW_HDB_DB.abapSchemaPassword = {{ sap_swpm_db_schema_abap_password }}
NW_HDB_DB.javaSchemaName = {{ sap_swpm_db_schema_java }}
NW_HDB_DB.javaSchemaPassword = {{ sap_swpm_db_schema_java_password }}
NW_Recovery_Install_HDB.extractLocation = /usr/sap/{{ sap_swpm_db_sid }}/HDB{{ sap_swpm_db_instance_nr }}/backup/data/DB_HDB
NW_Recovery_Install_HDB.extractParallelJobs = {{ sap_swpm_parallel_jobs_nr }}
NW_Recovery_Install_HDB.sidAdmName = {{ sap_swpm_db_sid|lower }}adm
NW_Recovery_Install_HDB.sidAdmPassword = {{ sap_swpm_db_sidadm_password }}
# NW_HDB_getDBInfo.tenantOsGroup =
# NW_HDB_getDBInfo.tenantOsUser =
# NW_HDB_DBClient.clientPathStrategy = LOCAL
{% endif %}

######
# nw_java_ume
######
{% if 'nw_java_ume' in sap_swpm_inifile_list %}
UmeConfiguration.adminName = J2EE_ADM_{{ sap_swpm_sid }}
UmeConfiguration.adminPassword = {{ sap_swpm_ume_j2ee_admin_password }}
UmeConfiguration.guestName = J2EE_GST_{{ sap_swpm_sid }}
# UmeConfiguration.sapjsfName = SAPJSF
UmeConfiguration.sapjsfPassword = {{ sap_swpm_ume_sapjsf_password }}
UmeConfiguration.umeClient = {{ sap_swpm_ume_client_nr }}
UmeConfiguration.umeHost = {{ sap_swpm_pas_instance_hostname }}
UmeConfiguration.umeInstance = {{ sap_swpm_ume_instance_nr }}
UmeConfiguration.umeType = {{ sap_swpm_ume_type }}
{% endif %}

######
# nw_other_config
######
{% if 'nw_other_config' in sap_swpm_inifile_list %}
# hdb.create.dbacockpit.user = false
# NW_Delete_Sapinst_Users.removeUsers = false
NW_getFQDN.FQDN = {{ sap_swpm_fqdn }}
NW_getFQDN.setFQDN = {{ sap_swpm_set_fqdn | lower }}
# NW_getFQDN.resolve = true
NW_getLoadType.loadType = {{ sap_swpm_load_type }}
# NW_getUnicode.isUnicode =
NW_readProfileDir.profileDir = /sapmnt/{{ sap_swpm_sid }}/profile
# NW_readProfileDir.profilesAvailable =
# MessageServer.configureAclInfo = false
# NW_Exit_Before_Systemstart.exit = false
# NW_adaptProfile.skipSecurityProfileSettings = false
NW_GetSidNoProfiles.sid = {{ sap_swpm_sid }}
# NW_GetSidNoProfiles.strictSidCheck = true
# NW_GetSidNoProfiles.unicode = true
# OS4.DestinationASP =
{% endif %}

######
# nw_central_instance
######
{% if 'nw_central_instance' in sap_swpm_inifile_list %}
NW_CI_Instance.ascsVirtualHostname = {{ sap_swpm_ascs_instance_hostname }}
NW_CI_Instance.scsVirtualHostname = {{ sap_swpm_pas_instance_hostname }}
NW_SCS_Instance.scsVirtualHostname = {{ sap_swpm_ascs_instance_hostname }}
NW_CI_Instance.ciVirtualHostname = {{ sap_swpm_pas_instance_hostname }}
nw_instance_ers.ersVirtualHostname = {{ sap_swpm_ers_instance_hostname }}
{% endif %}

######
# nw_gateway_webdisp
#
# It is recommended to install gateway as part of ASCS
# It is NOT recommended to install webdispatcher as part of ASCS. A separate Web Dispatcher instance must be installed
######
{% if 'nw_gateway_webdisp' in sap_swpm_inifile_list %}
NW_SCS_Instance.ascsInstallGateway = {{ sap_swpm_ascs_install_gateway|lower }}
# NW_CI_Instance.ascsInstallGateway = false
# NW_CI_Instance.ascsInstallWebDispatcher = false
# NW_SCS_Instance.ascsInstallWebDispatcher = false
{% endif %}

######
# nw_instance_config
######
{% if 'nw_instance_config' in sap_swpm_inifile_list %}
NW_CI_Instance.ascsInstanceNumber = {{ sap_swpm_ascs_instance_nr }}
nw_instance_ers.ersInstanceNumber = {{ sap_swpm_ers_instance_nr }}
# NW_SCS_Instance.ascsInstanceNumber =
NW_SCS_Instance.instanceNumber = {{ sap_swpm_ascs_instance_nr }}
NW_CI_Instance.ciInstanceNumber = {{ sap_swpm_pas_instance_nr }}
NW_CI_Instance.scsInstanceNumber = {{ sap_swpm_java_scs_instance_nr }}
# NW_SCS_Instance.scsInstanceNumber =
# NW_WPConfiguration.ciBtcWPNumber = 6
# NW_WPConfiguration.ciDialogWPNumber = 10
# NW_CI_Instance.nodesNum = 
# NW_CI_Instance.nodesNumber = defNodes
{% endif %}

######
# nw_ports_config
######
{% if 'nw_ports_config' in sap_swpm_inifile_list %}
NW_CI_Instance.ciMSPort = 36{{ sap_swpm_ascs_instance_nr }}
NW_checkMsgServer.abapMSPort = 36{{ sap_swpm_ascs_instance_nr }}
# NW_CI_Instance.ciMSPortInternal = 
# NW_SCS_Instance.scsMSPort =
# NW_CI_Instance.scsMSPortInternal =
# NW_CI_Instance.createGlobalProxyInfoFile = false
# NW_SCS_Instance.createGlobalProxyInfoFile = false
# NW_CI_Instance.createGlobalRegInfoFile = false
# NW_SCS_Instance.createGlobalRegInfoFile = false
# NW_CI_Instance_ABAP_Reports.enableActivateICFService = false
# NW_CI_Instance_ABAP_Reports.enableSPAMUpdateWithoutStackXml = false
# NW_CI_Instance_ABAP_Reports.enableTMSConfigWithoutStackXml = false
# NW_CI_Instance_ABAP_Reports.enableTransportsWithoutStackXml = false
# HDB_Userstore.systemDBPort =
{% endif %}

######
# generic_webdisp
######
{% if 'generic_webdisp' in sap_swpm_inifile_list %}
NW_Webdispatcher_Instance.wdInstanceNumber = {{ sap_swpm_wd_instance_nr }}
NW_webdispatcher_Instance.activateICF = {{ sap_swpm_wd_activate_icf | lower }}
NW_Webdispatcher_Instance.configureSystemConnectivity = {{ sap_swpm_wd_system_connectivity | lower }}
NW_webdispatcher_Instance.backEndSID = {{ sap_swpm_wd_backend_sid }}
NW_webdispatcher_Instance.msHTTPPort = {{ sap_swpm_wd_backend_ms_http_port }}
NW_webdispatcher_Instance.msHost = {{ sap_swpm_wd_backend_ms_host }}
NW_webdispatcher_Instance.rfcHost = {{ sap_swpm_wd_backend_rfc_host }}
NW_webdispatcher_Instance.rfcInstance = {{ sap_swpm_wd_backend_rfc_instance_nr }}
NW_webdispatcher_Instance.rfcPassword = {{ sap_swpm_wd_backend_rfc_ddic_000_password }}
NW_webdispatcher_Instance.scenarioSize = {{ sap_swpm_wd_backend_scenario_size }}
# NW_webdispatcher_Instance.encryptionMode = Always
# NW_webdispatcher_Instance.useWdHTTPPort = false
NW_webdispatcher_Instance.wdHTTPPort = 80{{ sap_swpm_wd_instance_nr }}
NW_webdispatcher_Instance.wdHTTPSPort = 443{{ sap_swpm_wd_instance_nr }}
NW_webdispatcher_Instance.wdVirtualHostname = {{ sap_swpm_wd_virtual_host }}
{% endif %}

######
# unix_user
######
{% if 'unix_user' in sap_swpm_inifile_list %}
nwUsers.sapadmUID = {{ sap_swpm_sapadm_uid }}
nwUsers.sapsysGID = {{ sap_swpm_sapsys_gid }}
nwUsers.sidAdmUID = {{ sap_swpm_sidadm_uid }}
# NW_GetSidNoProfiles.sapmnt = /sapmnt
{% endif %}

######
# other
######
{% if 'other' in sap_swpm_inifile_list %}
NW_System.installSAPHostAgent = {{ sap_swpm_install_saphostagent | lower }}
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = false
{% endif %}
