### inifile.params generated for SWPM Catalog Product ID is {{ sap_swpm_product_catalog_id }}

{% if 'swpm_installation_media' in sap_swpm_inifile_list %}
######
# swpm_installation_media
######
archives.downloadBasket = {{ sap_swpm_software_path }}

# installation_export.archivesFolder = {{ sap_swpm_cd_export_path }}

# NOTE: Specific media requirements will use format
# SAPINST.CD.PACKAGE.<media_name> = <location>
{% endif %}

{% if 'swpm_installation_media_swpm2_hana' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm2_hana
######
HDB_Software_Dialogs.useMediaCD = {{ sap_swpm_software_use_media }}
{% endif %}

{% if 'swpm_installation_media_swpm1' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm1
######
SAPINST.CD.PACKAGE.LANGUAGE = {{ sap_swpm_cd_language_path }}
SAPINST.CD.PACKAGE.JAVA = {{ sap_swpm_cd_java_path }}
SAPINST.CD.PACKAGE.RDBMS = {{ sap_swpm_cd_rdms_path }}
# SAPINST.CD.PACKAGE.KERNEL =
# SAPINST.CD.PACKAGE.KERNEL2 =
# SAPINST.CD.PACKAGE.KERNEL3 =
{% endif %}

{% if 'swpm_installation_media_swpm1_exportfiles' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm1_exportfiles
######
SAPINST.CD.PACKAGE.EXPORT = {{ sap_swpm_cd_export_path }}
# SAPINST.CD.PACKAGE.LOAD =
SAPINST.CD.PACKAGE.LOAD1 = {{ sap_swpm_cd_export_pt1_path }}
SAPINST.CD.PACKAGE.LOAD2 = {{ sap_swpm_cd_export_pt2_path }}
# SAPINST.CD.PACKAGE.JMIG =
{% endif %}

{% if 'swpm_installation_media_swpm1_ibmdb2' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm1_ibmdb2
######
# Requested package : RDBMS-DB6
SAPINST.CD.PACKAGE.DB2 = {{ sap_swpm_cd_ibmdb2_path }}

# Requested package : RDBMS-DB6 CLIENT
SAPINST.CD.PACKAGE.DB2CLIENT = {{ sap_swpm_cd_ibmdb2_client_path }}

# IBM DB2 software unpack path e.g. /db2/db2x01/db2_software
db6.DB2SoftwarePath = {{ sap_swpm_ibmdb2_unpack_path }}
{% endif %}

{% if 'swpm_installation_media_swpm1_oracledb_121' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm1_oracledb_121
######
# Requested package : RDBMS-ORA
SAPINST.CD.PACKAGE.RDBMS-ORA121 = {{ sap_swpm_cd_oracle_path }}

# Requested package : RDBMS-ORA CLIENT
SAPINST.CD.PACKAGE.ORACLI121 = {{ sap_swpm_cd_oracle_client_path }}
{% endif %}

{% if 'swpm_installation_media_swpm1_oracledb_122' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm1_oracledb_122
######
# Requested package : RDBMS-ORA
SAPINST.CD.PACKAGE.RDBMS-ORA122 = {{ sap_swpm_cd_oracle_path }}

# Requested package : RDBMS-ORA CLIENT
SAPINST.CD.PACKAGE.ORACLI122 = {{ sap_swpm_cd_oracle_client_path }}
{% endif %}

{% if 'swpm_installation_media_swpm1_oracledb_19' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm1_oracledb_19
######
# Requested package : RDBMS-ORA
SAPINST.CD.PACKAGE.RDBMS-ORA19 = {{ sap_swpm_cd_oracle_path }}

# Requested package : RDBMS-ORA CLIENT
SAPINST.CD.PACKAGE.ORACLI19 = {{ sap_swpm_cd_oracle_client_path }}
{% endif %}

{% if 'swpm_installation_media_swpm1_sapase' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm1_sapase
######
# Requested package : RDBMS-SYB
SAPINST.CD.PACKAGE.RDBMS-SYB = {{ sap_swpm_cd_sapase_path }}
SAPINST.CD.PACKAGE.RDBMS-SYB-CLIENT = {{ sap_swpm_cd_sapase_client_path }}

{% endif %}

{% if 'swpm_installation_media_swpm1_sapmaxdb' in sap_swpm_inifile_list %}
######
# swpm_installation_media_swpm1_sapmaxdb
######
# Requested package : RDBMS-ADA
SAPINST.CD.PACKAGE.RDBMS-ADA = {{ sap_swpm_cd_sapmaxdb_path }}
{% endif %}

{% if 'maintenance_plan_stack_tms_config' in sap_swpm_inifile_list %}
######
# maintenance_plan_stack_tms_config
######
NW_ABAP_TMSConfig.configureTMS = {{ sap_swpm_configure_tms | lower }}
NW_ABAP_TMSConfig.transportPassword = {{ sap_swpm_tmsadm_password }}
{% endif %}

{% if 'maintenance_plan_stack_tms_transports' in sap_swpm_inifile_list %}
######
# maintenance_plan_stack_tms_transports
######
NW_ABAP_Include_Corrections.includeTransports = true
NW_ABAP_Include_Corrections.transportFilesLocations = {{ sap_swpm_tms_tr_files_path }}
{% endif %}

{% if 'maintenance_plan_stack_spam_config' in sap_swpm_inifile_list %}
######
# maintenance_plan_stack_spam_config
######
NW_ABAP_SPAM_Update.SPAMUpdateDecision = {{ sap_swpm_spam_update | lower }}
{% if sap_swpm_spam_update %}
NW_ABAP_SPAM_Update.SPAMUpdateArchive = {{ sap_swpm_spam_update_sar }}
{% else %}
#NW_ABAP_SPAM_Update.SPAMUpdateArchive =
{% endif %}
{% endif %}

{% if 'maintenance_plan_stack_sum_config' in sap_swpm_inifile_list %}
######
# maintenance_plan_stack_sum_config
######
NW_ABAP_Prepare_SUM.prepareSUM = {{ sap_swpm_sum_prepare | lower }}
NW_ABAP_Prepare_SUM.startSUM = {{ sap_swpm_sum_start | lower }}

# Password for SUM must be for '<sapsid>adm' user
NW_ABAP_Prepare_SUM.Password = {{ sap_swpm_sap_sidadm_password }}
{% endif %}

{% if 'maintenance_plan_stack_sum_10_batch_mode' in sap_swpm_inifile_list %}
######
# maintenance_plan_stack_sum_10_batch_mode
######
# Re-run of existing BatchModeInputFile.xml for NWAS JAVA (generated by SUM 1.0 on previous host into the /sdt/param/ subdirectory)
NW_ABAP_Prepare_SUM.SUMBatchFile = {{ sap_swpm_sum_batch_file }}
{% endif %}

{% if 'credentials' in sap_swpm_inifile_list %}
######
# credentials
######
# Master password
NW_GetMasterPassword.masterPwd = {{ sap_swpm_master_password }}

# '<sapsid>adm' user
nwUsers.sidadmPassword = {{ sap_swpm_sap_sidadm_password }}

NW_DDIC_Password.ddic000Password = {{ sap_swpm_ddic_000_password }}

DiagnosticsAgent.dasidAdmPassword = {{ sap_swpm_diagnostics_agent_password }}

# 'sapadm' user of the SAP Host Agent
hostAgent.sapAdmPassword = {{ sap_swpm_sapadm_password }}
{% endif %}

{% if 'credentials_hana' in sap_swpm_inifile_list %}
######
# credentials_hana
######
HDB_Schema_Check_Dialogs.schemaPassword = {{ sap_swpm_db_schema_password }}
storageBasedCopy.hdb.systemPassword = {{ sap_swpm_db_system_password }}
{% endif %}

{% if 'credentials_anydb_ibmdb2' in sap_swpm_inifile_list %}
######
# credentials_anydb_ibmdb2
######
nwUsers.db6.db2sidPassword = {{ sap_swpm_sap_sidadm_password }}
{% endif %}

{% if 'credentials_anydb_oracledb' in sap_swpm_inifile_list %}
######
# credentials_anydb_oracledb
######
# Oracle database software owner
ora.oraclePassword = {{ sap_swpm_sap_sidadm_password }}

# 'ora<dbsid>' user
ora.orasidPassword = {{ sap_swpm_sap_sidadm_password }}

# Oracle 'SYS' password
ora.SysPassword = {{ sap_swpm_db_system_password }}

# Oracle 'SYSTEM' password
ora.SystemPassword = {{ sap_swpm_db_system_password }}
{% endif %}

{% if 'credentials_anydb_sapase' in sap_swpm_inifile_list %}
######
# credentials_anydb_sapase
######
nwUsers.syb.sybsidPassword = {{ sap_swpm_sap_sidadm_password }}
SYB.NW_DB.sa_pass = {{ sap_swpm_master_password }}
SYB.NW_DB.sapsa_pass = {{ sap_swpm_master_password }}
SYB.NW_DB.sapsr3_pass = {{ sap_swpm_master_password }}
SYB.NW_DB.sapsr3db_pass = {{ sap_swpm_db_system_password }}
# SYB.NW_DB.encryptionMasterKeyPassword =
# SYB.NW_DB.sapsso_pass =
# SYB.NW_DB.sslPassword =
{% endif %}

{% if 'credentials_anydb_sapmaxdb' in sap_swpm_inifile_list %}
######
# credentials_anydb_sapmaxdb
#
# The password of user DBUser may only consist of alphanumeric characters and the special characters #, $, @ and _
######
nwUsers.ada.sqdsidPassword = {{ sap_swpm_sap_sidadm_password }}
Sdb_DBUser.dbaPassword = {{ sap_swpm_db_system_password }}
Sdb_DBUser.dbmPassword = {{ sap_swpm_db_system_password }}
Sdb_Schema_Dialogs.dbSchemaPassword = {{ sap_swpm_db_schema_password }}
{% endif %}

{% if 'credentials_nwas_ssfs' in sap_swpm_inifile_list %}
######
# credentials_nwas_ssfs
######
HDB_Userstore.useABAPSSFS = true
# NW_ABAP_SSFS_CustomKey.ssfsKeyInputFile = 
{% endif %}

{% if 'credentials_hdbuserstore' in sap_swpm_inifile_list %}
######
# credentials_hdbuserstore
######
HDB_Userstore.useABAPSSFS = false
# HDB_Userstore.doNotResolveHostnames =
# HDB_Userstore.HDB_USE_IDENT =
# HDB_Userstore.systemDBPort =
# NW_HDB_DBClient.checkCreateUserstore = true
# NW_HDB_DBClient.clientPathStrategy = LOCAL
{% endif %}

{% if 'db_config_hana' in sap_swpm_inifile_list %}
######
# db_config_hana
######
storageBasedCopy.hdb.instanceNumber = {{ sap_swpm_db_instance_nr }}
HDB_Schema_Check_Dialogs.schemaName = {{ sap_swpm_db_schema }}

{% if 'nw_config_additional_application_server_instance' in sap_swpm_inifile_list %}
HDB_Schema_Check_Dialogs.validateSchemaName = true
{% else %}
HDB_Schema_Check_Dialogs.validateSchemaName = false
{% endif %}

# HDB_Schema_Check_Dialogs.dropSchema = false
# hdb.create.dbacockpit.user = false
{% endif %}

{% if 'db_config_anydb_all' in sap_swpm_inifile_list %}
######
# db_config_anydb_all
######
NW_ABAP_Import_Dialog.dbCodepage = 4103
NW_DDIC_Password.needDDICPasswords = true
{% endif %}

{% if 'db_config_anydb_ibmdb2' in sap_swpm_inifile_list %}
######
# db_config_anydb_ibmdb2
######
NW_ABAP_Import_Dialog.migmonJobNum = 3
NW_ABAP_Import_Dialog.migmonLoadArgs = -stop_on_error -loadprocedure fast LOAD:COMPRESS_ALL:DEF_CRT
NW_getDBInfoGeneric.dbhost = {{ sap_swpm_db_host }}
NW_getDBInfoGeneric.dbsid = {{ sap_swpm_db_sid }}
# db6.useMcod = true
# db6.useBluSettings = false
db6.allowUnsignedDatabaseSoftware = true
db6.cluster.ClusterType = HADR (High Availability Disaster Recovery)
db6.createTablespacesUsingSapinst = true
db6.minimizeDatabaseSizeCompression = true
db6.TablespacePoolSizes = SAPSID#DATA{20}
db6.useAutoStorage = true
db6.useExtraSapdataSaptmpDirLayout = false
db6.UseStandardTablespacePool = true
db6.usesLDAP = false
# nwUsers.db6.db2sidUid =
storageBasedCopy.db6.CommunicationPortNumber = 5912
storageBasedCopy.db6.PortRangeEnd = 5917
storageBasedCopy.db6.PortRangeStart = 5914
{% endif %}

{% if 'db_config_anydb_oracledb' in sap_swpm_inifile_list %}
######
# db_config_anydb_oracledb
######
NW_ABAP_Import_Dialog.migmonJobNum = 3
NW_ABAP_Import_Dialog.migmonLoadArgs = -stop_on_error -loadprocedure fast
NW_getDBInfoGeneric.dbsid = {{ sap_swpm_db_sid }}
storageBasedCopy.ora.listenerName = SAPORALISTENER
# storageBasedCopy.ora.listenerPort =
storageBasedCopy.ora.ABAPSchema = {{ sap_swpm_db_schema_abap }}
# storageBasedCopy.ora.JavaSchema = {{ sap_swpm_db_schema_java }}
# storageBasedCopy.ora.swowner = oracle
ora.createStatisticsCodeABAP = SKIP
ora.createStatisticsCodeJAVA = SKIP
ora.multitenant.pdbsid = {{ sap_swpm_sid | upper }}
ora.whatInstallation = isSingle
# ora.IgnoreClientVersion = false
# ora.maxDatafileSize = 2000

#### Oracle Multitenant Pluggable DB: ####
#### a single Oracle Container Database (CDB) can host multiple Oracle Pluggable Databases (PDB) ####
## FALSE:    no pluggable installation (default value)
## CDB_PDB:  install CDB and PDB
## PDB_ONLY: install PDB only in an existing CDB.
## CDB_ONLY: install CDB only.
ora.multitenant.installMT = FALSE
{% endif %}

{% if 'db_config_anydb_oracledb_121' in sap_swpm_inifile_list %}
######
# db_config_anydb_oracledb_121
# Use path to Oracle Home - Runtime (i.e. $OHRDBMS env var)
######
ora.dbhome = /oracle/{{ sap_swpm_db_sid }}/121
storageBasedCopy.ora.clientVersion = 121
storageBasedCopy.ora.serverVersion = 121
{% endif %}

{% if 'db_config_anydb_oracledb_122' in sap_swpm_inifile_list %}
######
# db_config_anydb_oracledb_122
# Use path to Oracle Home - Runtime (i.e. $OHRDBMS env var)
######
ora.dbhome = /oracle/{{ sap_swpm_db_sid }}/122
storageBasedCopy.ora.clientVersion = 122
storageBasedCopy.ora.serverVersion = 122
{% endif %}

{% if 'db_config_anydb_oracledb_19' in sap_swpm_inifile_list %}
######
# db_config_anydb_oracledb_19
# Use path to Oracle Home - Runtime (i.e. $OHRDBMS env var)
######
ora.dbhome = /oracle/{{ sap_swpm_db_sid }}/19
storageBasedCopy.ora.clientVersion = 19
storageBasedCopy.ora.serverVersion = 19
{% endif %}

{% if 'db_config_anydb_sapase' in sap_swpm_inifile_list %}
######
# db_config_anydb_sapase
######
NW_ABAP_Import_Dialog.migmonJobNum = 3
NW_ABAP_Import_Dialog.migmonLoadArgs = -c 100000 -loadprocedure fast
NW_SYB_DBPostload.numberParallelStatisticJobs = 0
SYB.NW_DB.aseSortOrder = binaryalt
SYB.NW_DB.databaseDevices = data device for SAP,/sybase/{{ sap_swpm_sid | upper }}/sapdata_1,88,,,{{ sap_swpm_sid | upper }}_data_001,log device for SAP,/sybase/{{ sap_swpm_sid | upper }}/saplog_1,10,,,{{ sap_swpm_sid | upper }}_log_001,data device for saptools,/sybase/{{ sap_swpm_sid | upper }}/sapdiag,2,,,saptools_data_001,log device for saptools,/sybase/{{ sap_swpm_sid | upper }}/sapdiag,2,,,saptools_log_001,data device for sybsecurity,/sybase/{{ sap_swpm_sid | upper }}/sybsecurity,1,,,sybsecurity_data_001,data device for sybsecurity,/sybase/{{ sap_swpm_sid | upper }}/sybsecurity,1,,,sybsecurity_data_002,log device for sybsecurity,/sybase/{{ sap_swpm_sid | upper }}/sybsecurity,0.5,,,sybsecurity_log_001,temp device for SAP,/sybase/{{ sap_swpm_sid | upper }}/saptemp,8,,,saptempdb_data_001,
SYB.NW_DB.databaseType = ase
SYB.NW_DB.enableGranularPermissions = true
SYB.NW_DB.enableStrongCipherSuitesForSSL = false
SYB.NW_DB.folderDatabaseSoftware = /sybase/{{ sap_swpm_sid | upper }}
SYB.NW_DB.folderDiagDevice = /sybase/{{ sap_swpm_sid | upper }}/sapdiag
SYB.NW_DB.folderSAPTempdbDevice = /sybase/{{ sap_swpm_sid | upper }}/saptemp
SYB.NW_DB.folderSecurityDevices = /sybase/{{ sap_swpm_sid | upper }}/sybsecurity
SYB.NW_DB.folderSystemDevices = /sybase/{{ sap_swpm_sid | upper }}/sybsystem
SYB.NW_DB.folderTempdbDevice = /sybase/{{ sap_swpm_sid | upper }}/sybtemp
SYB.NW_DB.indexConsumers = 3
SYB.NW_DB.initializeDefaultSystemEncryptionPassword = false
SYB.NW_DB.maxIndexParallelDegree = 10
SYB.NW_DB.maxQueryParallelDegree = 10
SYB.NW_DB.numberWorkerProcesses = 50
SYB.NW_DB.sqlServerConnections = 200
SYB.NW_DB.sqlServerHostname = {{ sap_swpm_db_host }}
SYB.NW_DB.sybmgmtdbDataDeviceFolder = /sybase/{{ sap_swpm_sid | upper }}/sybsystem
SYB.NW_DB.sybmgmtdbLogDeviceFolder = /sybase/{{ sap_swpm_sid | upper }}/sybsystem
SYB.NW_DB.userstore_hostname = {{ sap_swpm_ascs_instance_hostname }}

# To avoid conflicts, leave all Ports blank and SAP SWPM will auto-assign
# Ports by default are in order 4901, 4902, 4903, 4904. For each new ASE DB Server instance on the host, each port number is incremented by 4
SYB.NW_DB.portDatabaseServer = 
SYB.NW_DB.portBackupServer = 
SYB.NW_DB.portJobScheduler = 
SYB.NW_DB.portXPServer = 
{% endif %}

{% if 'db_config_anydb_sapmaxdb' in sap_swpm_inifile_list %}
######
# db_config_anydb_sapmaxdb
######
NW_ABAP_Import_Dialog.migmonJobNum = 90
NW_ABAP_Import_Dialog.migmonLoadArgs = -para_cnt 90
NW_ADA_getDBInfo.dbsid = {{ sap_swpm_db_sid }}
SdbInstanceDialogs.DB_sessions = 100
SdbInstanceDialogs.minlogsize = 4000
SdbInstanceDialogs.sapdataFolder = sapdata
SdbInstanceDialogs.saplogFolder = saplog
{% endif %}

{% if 'db_connection_nw_hana' in sap_swpm_inifile_list %}
######
# db_connection_nw_hana
######
NW_HDB_getDBInfo.dbhost = {{ sap_swpm_db_host }}
NW_HDB_getDBInfo.dbsid = {{ sap_swpm_db_sid }}
NW_HDB_getDBInfo.instanceNumber = {{ sap_swpm_db_instance_nr }}
NW_HDB_getDBInfo.systemid = {{ sap_swpm_db_sid }}
NW_HDB_getDBInfo.systemPassword = {{ sap_swpm_db_system_password }}
# NW_HDB_getDBInfo.systemDbSid = SystemDB
NW_HDB_getDBInfo.systemDbPassword = {{ sap_swpm_db_systemdb_password }}
NW_HDB_DB.abapSchemaName = {{ sap_swpm_db_schema_abap }}
NW_HDB_DB.abapSchemaPassword = {{ sap_swpm_db_schema_abap_password }}
NW_HDB_DB.javaSchemaName = {{ sap_swpm_db_schema_java }}
NW_HDB_DB.javaSchemaPassword = {{ sap_swpm_db_schema_java_password }}
NW_Recovery_Install_HDB.extractLocation = /usr/sap/{{ sap_swpm_db_sid }}/HDB{{ sap_swpm_db_instance_nr }}/backup/data/DB_HDB
NW_Recovery_Install_HDB.extractParallelJobs = {{ sap_swpm_parallel_jobs_nr }}
NW_Recovery_Install_HDB.sidAdmName = {{ sap_swpm_db_sid | lower }}adm
NW_Recovery_Install_HDB.sidAdmPassword = {{ sap_swpm_db_sidadm_password }}
# NW_HDB_getDBInfo.dbadmin = SYSTEM
# NW_HDB_getDBInfo.tenantOsGroup = {{ sap_swpm_db_sid | lower }}grp
# NW_HDB_getDBInfo.tenantOsUser = {{ sap_swpm_db_sid | lower }}usr
# NW_HDB_getDBInfo.tenantPort =
{% endif %}

{% if 'db_connection_nw_anydb_ibmdb2' in sap_swpm_inifile_list %}
######
# db_connection_nw_anydb_ibmdb2
######
# db6.UseDb2SSLClientServerComm = false
# nwUsers.db6.sapsidUid =
nwUsers.db6.sapsidPassword = {{ sap_swpm_sapadm_password }}
NW_DB6_DB.db6.abap.connect.user = sap{{ sap_swpm_db_sid | lower }}
NW_DB6_DB.db6.abap.schema = sap{{ sap_swpm_db_sid | lower }}
{% endif %}

{% if 'db_connection_nw_anydb_oracledb' in sap_swpm_inifile_list %}
######
# db_connection_nw_anydb_oracledb
######
storageBasedCopy.abapSchemaPassword = {{ sap_swpm_db_schema_abap_password }}
storageBasedCopy.javaSchemaPassword = {{ sap_swpm_db_schema_java_password }}
{% endif %}

{% if 'db_connection_nw_anydb_sapase' in sap_swpm_inifile_list %}
######
# db_connection_nw_anydb_sapase
######
# NW_SYB_CIABAP.sapsaPassword =
{% endif %}

{% if 'db_restore_hana' in sap_swpm_inifile_list %}
######
# db_restore_hana
######
NW_HDB_getDBInfo.systemPasswordBackup = {{ sap_swpm_backup_system_password }}
HDB_Recovery_Dialogs.backupLocation = {{ sap_swpm_backup_location }}
HDB_Recovery_Dialogs.backupName = {{ sap_swpm_backup_prefix }}
HDB_Recovery_Dialogs.sapControlWsdlUrl = http://{{ sap_swpm_db_host }}:5{{ sap_swpm_db_instance_nr }}13/SAPControl?wsdl
HDB_Recovery_Dialogs.sidAdmName = {{ sap_swpm_db_sid | lower }}adm
HDB_Recovery_Dialogs.sidAdmPassword = {{ sap_swpm_db_sidadm_password }}
# HDB_Recovery_Dialogs.backupDestinationType = File
# HDB_Recovery_Dialogs.licenseFile =
# HDB_Recovery_Dialogs.skipExistenceCheck = false
# HDB_Recovery_Dialogs.sourceDatabaseSid =
# HDB_Recovery_Dialogs.useLicenseFile = false
# NW_Recovery_Install_HDB.checkIntegrity = false
# NW_Recovery_Install_HDB.backupLocationHANA =
# NW_Recovery_Install_HDB.backupLocationSAP =
# NW_Recovery_Install_HDB.loadOrMount = load
# HDB_System_Check_Dialogs.initTopology = false
# NW_CreateDBandLoad.movePVCforUsagePiAndDi =
{% endif %}

{% if 'nw_config_anydb' in sap_swpm_inifile_list %}
######
# nw_config_anydb
######
# Distributed installation or system copy with any database and SAP Basis release 740 or higher:
# Execute ABAP program 'RUTPOADAPT' for depooling. Set it to 'true' if declustering / depooling is selected for the distributed database instance installation option
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = false
{% endif %}

{% if 'nw_config_other' in sap_swpm_inifile_list %}
######
# nw_config_other
######
# NW_Delete_Sapinst_Users.removeUsers = false
NW_getFQDN.FQDN = {{ sap_swpm_fqdn }}
NW_getFQDN.setFQDN = {{ sap_swpm_set_fqdn | lower }}
# NW_getFQDN.resolve = true
NW_GetSidNoProfiles.sid = {{ sap_swpm_sid }}
# NW_GetSidNoProfiles.sapmnt = /sapmnt
# NW_GetSidNoProfiles.strictSidCheck = true
# NW_GetSidNoProfiles.unicode = true
NW_readProfileDir.profileDir = /sapmnt/{{ sap_swpm_sid | upper }}/profile
# NW_readProfileDir.profilesAvailable =
NW_getLoadType.loadType = {{ sap_swpm_load_type }}
# NW_getUnicode.isUnicode =
# MessageServer.configureAclInfo = false
# NW_Exit_Before_Systemstart.exit = false
# NW_adaptProfile.skipSecurityProfileSettings = false
# OS4.DestinationASP =
{% endif %}

{% if 'nw_config_central_services_abap' in sap_swpm_inifile_list %}
######
# nw_config_central_services_abap
# Central Services (ASCS) contains the Message server (MS) and Enqueue work processes (EN) for the ABAP Dispatcher.
# Formerly the processes were contained in the Central Instance (CI).
######
NW_CI_Instance.ascsVirtualHostname = {{ sap_swpm_ascs_instance_hostname }}
NW_CI_Instance.ascsInstanceNumber = {{ sap_swpm_ascs_instance_nr }}
# NW_SCS_Instance.ascsVirtualHostname = {{ sap_swpm_ascs_instance_hostname }}
NW_SCS_Instance.ascsInstanceNumber = {{ sap_swpm_ascs_instance_nr }}
{% endif %}

{% if 'nw_config_central_services_java' in sap_swpm_inifile_list %}
######
# nw_config_central_services_java
# SAP Java Central Services Instance (SCS) contains the Java Message server (MS), Java Enqueue server (EN), Java Gateway (GW) and Java Internal Web Dispatcher (WD).
######
NW_CI_Instance.scsVirtualHostname = {{ sap_swpm_java_scs_instance_hostname }}
NW_CI_Instance.scsInstanceNumber = {{ sap_swpm_java_scs_instance_nr }}
NW_SCS_Instance.scsVirtualHostname = {{ sap_swpm_java_scs_instance_hostname }}
# NW_SCS_Instance.scsInstanceNumber =
NW_SCS_Instance.instanceNumber = {{ sap_swpm_java_scs_instance_nr }}
NW_JAVA_Export.keyPhrase = {{ sap_swpm_master_password }}
{% endif %}

{% if 'nw_config_primary_application_server_instance' in sap_swpm_inifile_list %}
######
# nw_config_primary_application_server_instance
# Primary Application Server (PAS) contains the Internet Communication Manager (ICM), Gateway (GW), and ABAP Dispatcher (DI/WP) work processes.
# Formerly called the Central Instance (CI).
######
NW_CI_Instance.ciVirtualHostname = {{ sap_swpm_pas_instance_hostname }}
NW_CI_Instance.ciInstanceNumber = {{ sap_swpm_pas_instance_nr }}
# NW_CI_Instance.nodesNum = 
# NW_CI_Instance.nodesNumber = defNodes
# NW_WPConfiguration.ciBtcWPNumber = 6
# NW_WPConfiguration.ciDialogWPNumber = 10
{% endif %}

{% if 'nw_config_additional_application_server_instance' in sap_swpm_inifile_list %}
######
# nw_config_additional_application_server_instance
# Additional Application Server (AAS) contains ABAP Dispatcher (DI/WP) work processes.
# Formerly called the Dialog Instance (DI).
######
# Instance number of SAP NetWeaver Application Server. Leave empty for default.
NW_AS.instanceNumber = {{ sap_swpm_aas_instance_nr }}

# Do not skip unpacking archives if adding the SAP NetWeaver Application Server to another operating system / host. Default is 'false'.
# NW_AS.skipUnpacking = false

# Start the SAP NetWeaver Application Server at the end of the installation. Default is 'true'.
# NW_AS.start = true

# Virtual host name of the SAP NetWeaver Application Server instance. Leave empty to use the existing host name
NW_DI_Instance.virtualHostname = {{ sap_swpm_aas_instance_hostname }}
{% endif %}

{% if 'nw_config_ers' in sap_swpm_inifile_list %}
######
# nw_config_ers
######
nw_instance_ers.ersVirtualHostname = {{ sap_swpm_ers_instance_hostname }}
nw_instance_ers.ersInstanceNumber = {{ sap_swpm_ers_instance_nr }}

# Disable 'Automatic Instance and Service Restart' for SAP SWPM Unattended Mode,
# otherwise by default SAP SWPM will use sapcontrol -queryuser -function Stop and will cause error
# "User? Password? Stop. FAIL: Invalid Credentials"
nw_instance_ers.restartSCS = false
{% endif %}

{% if 'nw_config_ports' in sap_swpm_inifile_list %}
######
# nw_config_ports
######
NW_CI_Instance.ciMSPort = 36{{ sap_swpm_ascs_instance_nr }}
NW_checkMsgServer.abapMSPort = 36{{ sap_swpm_ascs_instance_nr }}
# NW_CI_Instance.ciMSPortInternal = 
# NW_CI_Instance.createGlobalProxyInfoFile = false
# NW_CI_Instance.createGlobalRegInfoFile = false
# NW_CI_Instance.scsMSPortInternal =
# NW_SCS_Instance.scsMSPort =
# NW_SCS_Instance.createGlobalProxyInfoFile = false
# NW_SCS_Instance.createGlobalRegInfoFile = false
{% endif %}

{% if 'nw_config_java_ume' in sap_swpm_inifile_list %}
######
# nw_config_java_ume
######
UmeConfiguration.adminName = J2EE_ADM_{{ sap_swpm_sid }}
UmeConfiguration.adminPassword = {{ sap_swpm_ume_j2ee_admin_password }}
UmeConfiguration.guestName = J2EE_GST_{{ sap_swpm_sid }}
UmeConfiguration.sapjsfPassword = {{ sap_swpm_ume_sapjsf_password }}
UmeConfiguration.umeClient = {{ sap_swpm_ume_client_nr }}
UmeConfiguration.umeHost = {{ sap_swpm_pas_instance_hostname }}
UmeConfiguration.umeInstance = {{ sap_swpm_ume_instance_nr }}
UmeConfiguration.umeType = {{ sap_swpm_ume_type }}
# UmeConfiguration.sapjsfName = SAPJSF
{% endif %}

{% if 'nw_config_java_feature_template_ids' in sap_swpm_inifile_list %}
######
# nw_config_java_feature_template_ids
######
NW_internal.useProductVersionDescriptor = true
nw_java_import.buildJEEusingExtraMileTool = true

# If use PV = true
# SAP SWPM 1.0 for SAP NetWeaver AS (JAVA), Product Version Software Instance **Feature Template IDs** comma-separated list
Select_PPMS_Instances.ListOfSelectedInstances = {% set selected_ids = [] %}{%- for item_selected in sap_swpm_java_template_id_selected_list %}
{%- if item_selected in sap_swpm_java_template_id_lookup_dictionary -%}
{{ selected_ids.append(sap_swpm_java_template_id_lookup_dictionary[item_selected]) }}
{%- endif %}
{%- endfor %}{{ selected_ids | flatten | join(',') }}

## If use PV = false [LEGACY for before NWAS JAVA 7.40]
## Comma-separated value list containing which product instances (formerly known as usage types) are installed. Used for handling product instances in unattended mode.
## SAP_Software_Features_Select.selectedInstancesForInstallation = AS,AAS,BASIC,NW-MODEL,ESR,PI,PI-AF
{%- endif %}

{% if 'nw_config_webdisp_generic' in sap_swpm_inifile_list %}
######
# nw_config_webdisp_generic
######
NW_Webdispatcher_Instance.wdInstanceNumber = {{ sap_swpm_wd_instance_nr }}
# NW_webdispatcher_Instance.encryptionMode = Always
# NW_webdispatcher_Instance.useWdHTTPPort = false
NW_webdispatcher_Instance.wdHTTPPort = 80{{ sap_swpm_wd_instance_nr }}
NW_webdispatcher_Instance.wdHTTPSPort = 443{{ sap_swpm_wd_instance_nr }}
NW_webdispatcher_Instance.wdVirtualHostname = {{ sap_swpm_wd_virtual_host }}

NW_Webdispatcher_Instance.configureSystemConnectivity = {{ sap_swpm_wd_system_connectivity | lower }}
NW_webdispatcher_Instance.backEndSID = {{ sap_swpm_wd_backend_sid }}
NW_webdispatcher_Instance.msHTTPPort = {{ sap_swpm_wd_backend_ms_http_port }}
NW_webdispatcher_Instance.msHost = {{ sap_swpm_wd_backend_ms_host }}
NW_webdispatcher_Instance.scenarioSize = {{ sap_swpm_wd_backend_scenario_size }}

NW_webdispatcher_Instance.activateICF = {{ sap_swpm_wd_activate_icf | lower }}
NW_webdispatcher_Instance.rfcHost = {{ sap_swpm_wd_backend_rfc_host }}
NW_webdispatcher_Instance.rfcInstance = {{ sap_swpm_wd_backend_rfc_instance_nr }}
NW_webdispatcher_Instance.rfcClient = {{ sap_swpm_wd_backend_rfc_client_nr }}
NW_webdispatcher_Instance.rfcUser = {{ sap_swpm_wd_backend_rfc_user }}
NW_webdispatcher_Instance.rfcPassword = {{ sap_swpm_wd_backend_rfc_user_password }}
{% endif %}

{% if 'nw_config_webdisp_gateway' in sap_swpm_inifile_list %}
######
# nw_config_webdisp_gateway
#
# It is recommended to install gateway as part of ASCS
# It is NOT recommended to install webdispatcher as part of ASCS. A separate Web Dispatcher instance should be installed (SAP Note 908097)
######
NW_CI_Instance.ascsInstallGateway = {{ sap_swpm_ascs_install_gateway | lower }}
# NW_SCS_Instance.ascsInstallGateway = {{ sap_swpm_ascs_install_gateway | lower }}

# Embedded SAP Web Dispatcher
# NW_CI_Instance.ascsInstallWebDispatcher = false
# NW_SCS_Instance.ascsInstallWebDispatcher = false
{% endif %}

{% if 'nw_config_host_agent' in sap_swpm_inifile_list %}
######
# nw_config_host_agent
######
NW_System.installSAPHostAgent = {{ sap_swpm_install_saphostagent | lower }}
{% endif %}

{% if 'nw_config_post_load_abap_reports' in sap_swpm_inifile_list %}
######
# nw_config_post_load_abap_reports
######
# Activate ICF node '/SAP/BC/REST/SLPROTOCOL'
NW_CI_Instance_ABAP_Reports.enableActivateICFService = true

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableSPAMUpdateWithoutStackXml = false

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableTMSConfigWithoutStackXml = false

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableTransportsWithoutStackXml = false

# Specify new password of the DDIC user in client 000, different from Master Password
# NW_CI_Instance_ABAP_Reports.ddic000Password =

# Need specific new password of the DDIC user in client 000, different from Master Password
# NW_CI_Instance_ABAP_Reports.needNewDDIC000Password = false

# Need specific new password of the SAP* user in client 000, different from Master Password
# NW_CI_Instance_ABAP_Reports.needNewSapStar000Password = false

# Specify new password of the SAP* user in client 000, different from Master Password
# NW_CI_Instance_ABAP_Reports.sapStar000Password =
{% endif %}

{% if 'nw_config_livecache' in sap_swpm_inifile_list %}
######
# nw_config_livecache
######
NW_liveCache.controlUserPwd =
NW_liveCache.liveCacheHost =
NW_liveCache.liveCacheID =
NW_liveCache.liveCacheUser =
NW_liveCache.liveCacheUserPwd =
NW_liveCache.useLiveCache =
{% endif %}

{% if 'nw_config_sld' in sap_swpm_inifile_list %}
######
# nw_config_sld
######
NW_SLD_Configuration.configureSld =
NW_SLD_Configuration.sldHost =
NW_SLD_Configuration.sldPort =
NW_SLD_Configuration.sldUseHttps =
NW_SLD_Configuration.sldUser =
NW_SLD_Configuration.sldUserPassword =
{% endif %}

{% if 'nw_config_abap_language_packages' in sap_swpm_inifile_list %}
######
# nw_config_abap_language_packages
######
NW_Language_Inst_Dialogs.install = true
# Path to language archive files (e.g. S4HANAOP***_LANG_EN.SAR)
NW_Language_Inst_Dialogs.folders = /software
# Selected languages comma-separated list (by default DE,EN are installed)
NW_Language_Inst_Dialogs.languages = AR,BG,CA,CS,DA,EL,ES,ET,FI,FR,HE,HI,HR,HU,IT,JA,KK,KO,LT,LV,MS,NL,NO,PL,PT,RO,RU,SH,SK,SL,SV,TH,TR,UK,VI,ZF,ZH
{% endif %}

{% if 'sap_os_linux_user' in sap_swpm_inifile_list %}
######
# sap_os_linux_user
######
nwUsers.sapadmUID = {{ sap_swpm_sapadm_uid }}
nwUsers.sapsysGID = {{ sap_swpm_sapsys_gid }}
nwUsers.sidAdmUID = {{ sap_swpm_sidadm_uid }}
{% endif %}

{% if 'swpm_installation_media_download_service' in sap_swpm_inifile_list %}
######
# swpm_installation_media_download_service
# Not in use by sap_swpm Ansible Role
######
# nwUsers.sapServiceSIDPassword =
# download_service.directory =
# DownloadService.EnableProxy =
# DownloadService.HostName =
# DownloadService.Password =
# DownloadService.Port =
# DownloadService.ProvideAuthentication =
# DownloadService.Username =
# DownloadService.planNumber =
{% endif %}


{% if 'solman_credentials_swpm1' in sap_swpm_inifile_list %}
######
# solman_credentials_swpm1
# Not in use by sap_swpm Ansible Role
######
NW_IcmAuth.webadmPassword = {{ sap_swpm_ume_j2ee_admin_password }}
{% endif %}


{% if 'solman_abap_swpm1' in sap_swpm_inifile_list %}
######
# solman_abap_swpm1
# Not in use by sap_swpm Ansible Role
######
InitDeclusteringForImport.decluster = false
{% endif %}


{% if 'solman_daa_swpm1' in sap_swpm_inifile_list %}
######
# solman_daa_swpm1
# Not in use by sap_swpm Ansible Role
######
# DiagnosticsAgent.dasidAdmPassword = {{ sap_swpm_diagnostics_agent_password }}
# DiagnosticsAgent.installSAPHostAgent
# DiagnosticsAgent.InstanceNumber
# DiagnosticsAgent.LogicalHostName
# DiagnosticsAgent.SAPJVMVersion
# DiagnosticsAgent.SAProuter.Password
# DiagnosticsAgent.SAProuter.RouteString
# DiagnosticsAgent.SID
# DiagnosticsAgent.SLD.Connection
# DiagnosticsAgent.SLD.HostName
# DiagnosticsAgent.SLD.Password
# DiagnosticsAgent.SLD.PortNumber
# DiagnosticsAgent.SLD.UseHTTPS
# DiagnosticsAgent.SLD.UserName
# DiagnosticsAgent.SolMan.Connection
# DiagnosticsAgent.SolMan.HostName
# DiagnosticsAgent.SolMan.Password
# DiagnosticsAgent.SolMan.PortNumber
# DiagnosticsAgent.SolMan.UserName
# DiagnosticsAgent.SolMan.UseSSL
{% endif %}
