<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>SAP NetWeaver Application</short>
  <description>Ports required for SAP NetWeaver Application Server. Maintained by Ansible Role sap_install.sap_swpm.</description>

  {# SAP Host Agent ports for status and metrics communication. -#} 
  <port protocol="tcp" port="1128-1129"/>

  {# SAP Dispatcher (32NN) communication. -#}
  <port protocol="tcp" port="32{{ __sap_swpm_firewall_instance_nr }}"/>

  {# SAP Gateway (33NN) communication. -#}
  <port protocol="tcp" port="33{{ __sap_swpm_firewall_instance_nr }}"/>

  {# SAP Dispatcher (47NN) SNC secured for CPIC and RFC communication. -#}
  <port protocol="tcp" port="47{{ __sap_swpm_firewall_instance_nr }}"/>

  {# SAP Gateway (48NN) SNC secured for CPIC and RFC communication. -#}
  <port protocol="tcp" port="48{{ __sap_swpm_firewall_instance_nr }}"/>

  {# SAP Internet Communication Manager (ICM) HTTP port (80NN). Used for non-secure web client access. -#}
  <port protocol="tcp" port="80{{ __sap_swpm_firewall_instance_nr }}"/>

  {# SAP Internet Communication Manager (ICM) HTTPS port (443NN). Used for secure web client access. -#}
  <port protocol="tcp" port="443{{ __sap_swpm_firewall_instance_nr }}"/>

  {# Ports for SAP Start Service (sapstartsrv) communication. Used for service control and status checks. -#}
  <port protocol="tcp" port="5{{ __sap_swpm_firewall_instance_nr }}13"/>
  <port protocol="tcp" port="5{{ __sap_swpm_firewall_instance_nr }}14"/>
  <port protocol="tcp" port="5{{ __sap_swpm_firewall_instance_nr }}16"/>

  {# JAVA ports (62NNN), commonly used for communication within the AS-Java stack, e.g., P4/P4S protocols. -#}
  <port protocol="tcp" port="620{{ __sap_swpm_firewall_instance_nr }}"/>
  <port protocol="tcp" port="621{{ __sap_swpm_firewall_instance_nr }}"/>

</service>