### inifile.params generated for SWPM - Product ID is {{ sap_swpm_product_catalog_id }}

{% if 'swpm_installation_media' in sap_swpm_inifile_sections_list %}
###################################################################
# BEGIN section swpm_installation_media                           #
#                                                                 #
archives.downloadBasket = {{ sap_swpm_software_path }}

# installation_export.archivesFolder = {{ sap_swpm_cd_export_path }}

# NOTE: Specific media requirements will use format
# SAPINST.CD.PACKAGE.<media_name> = <location>
#                                                                 #
#  END  section swpm_installation_media                           #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm2_hana' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_swpm2_hana                #
#                                                                 #
{% if sap_swpm_software_use_media is boolean %}
HDB_Software_Dialogs.useMediaCD = {{ sap_swpm_software_use_media | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_software_use_media' is defined as '{{ sap_swpm_software_use_media }}', type '{{ sap_swpm_software_use_media | type_debug }}', must be defined as a boolean!
{% endif %}
#                                                                 #
#  END  section swpm_installation_media_swpm2_hana                #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm1' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_swpm1                     #
#                                                                 #
{% if sap_swpm_cd_language_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.LANGUAGE = {{ sap_swpm_cd_language_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_language_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.LANGUAGE'
{% endif %}
{% if sap_swpm_cd_java_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.JAVA = {{ sap_swpm_cd_java_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_java_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.JAVA'
{% endif %}
{% if sap_swpm_cd_rdbms_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.RDBMS = {{ sap_swpm_cd_rdbms_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_rdbms_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.RDBMS'
{% endif %}
# SAPINST.CD.PACKAGE.KERNEL =
# SAPINST.CD.PACKAGE.KERNEL2 =
# SAPINST.CD.PACKAGE.KERNEL3 =

# SAPINST.CD.PACKAGE.JAVA_EXPORT = /path/JAVA_EXPORT
# SAPINST.CD.PACKAGE.JDMP = /path/JAVA_EXPORT_JDMP
# SAPINST.CD.PACKAGE.J2EE = /path/JAVA_J2EE_OSINDEP
# SAPINST.CD.PACKAGE.J2EE-INST = /path/JAVA_J2EE_OSINDEP_J2EE_INST
# SAPINST.CD.PACKAGE.SCA = /path/JAVA_J2EE_OSINDEP_UT
#                                                                 #
#  END  section swpm_installation_media_swpm1                     #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm1_exportfiles' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_swpm1_exportfiles         #
#                                                                 #
{% if sap_swpm_cd_export_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.EXPORT = {{ sap_swpm_cd_export_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_export_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_exportfiles'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.EXPORT'
{% endif %}
# SAPINST.CD.PACKAGE.LOAD =
{% if sap_swpm_cd_export_pt1_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.LOAD1 = {{ sap_swpm_cd_export_pt1_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_export_pt1_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_exportfiles'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.LOAD1'
{% endif %}
{% if sap_swpm_cd_export_pt2_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.LOAD2 = {{ sap_swpm_cd_export_pt2_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_export_pt2_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_exportfiles'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.LOAD2'
{% endif %}
# SAPINST.CD.PACKAGE.JMIG =
#                                                                 #
#  END  section swpm_installation_media_swpm1_exportfiles         #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm1_ibmdb2' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_swpm1_ibmdb2              #
#                                                                 #
# Requested package : RDBMS-DB6
{% if sap_swpm_cd_ibmdb2_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.DB2 = {{ sap_swpm_cd_ibmdb2_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_ibmdb2_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_ibmdb2'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.DB2'
{% endif %}

# Requested package : RDBMS-DB6 CLIENT
{% if sap_swpm_cd_ibmdb2_client_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.DB2CLIENT = {{ sap_swpm_cd_ibmdb2_client_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_ibmdb2_client_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_ibmdb2'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.DB2CLIENT'
{% endif %}

# IBM DB2 software unpack path e.g. /db2/db2x01/db2_software
{% if sap_swpm_ibmdb2_unpack_path | string | trim | length > 0 %}
db6.DB2SoftwarePath = {{ sap_swpm_ibmdb2_unpack_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ibmdb2_unpack_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_ibmdb2'
ERROR:      Inifile Parameter: 'db6.DB2SoftwarePath'
{% endif %}
#                                                                 #
#  END  section swpm_installation_media_swpm1_ibmdb2              #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm1_oracledb_121' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_swpm1_oracledb_121        #
#                                                                 #
# Requested package : RDBMS-ORA
{% if sap_swpm_cd_oracle_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.RDBMS-ORA121 = {{ sap_swpm_cd_oracle_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_oracle_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_oracledb_121'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.RDBMS-ORA121'
{% endif %}

# Requested package : RDBMS-ORA CLIENT
{% if sap_swpm_cd_oracle_client_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.ORACLI121 = {{ sap_swpm_cd_oracle_client_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_oracle_client_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_oracledb_121'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.ORACLI121'
{% endif %}
#                                                                 #
#  END  section swpm_installation_media_swpm1_oracledb_121        #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm1_oracledb_122' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_swpm1_oracledb_122        #
#                                                                 #
# Requested package : RDBMS-ORA
{% if sap_swpm_cd_oracle_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.RDBMS-ORA122 = {{ sap_swpm_cd_oracle_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_oracle_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_oracledb_122'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.RDBMS-ORA122'
{% endif %}

# Requested package : RDBMS-ORA CLIENT
{% if sap_swpm_cd_oracle_client_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.ORACLI122 = {{ sap_swpm_cd_oracle_client_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_oracle_client_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_oracledb_122'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.ORACLI122'
{% endif %}
#                                                                 #
#  END  section swpm_installation_media_swpm1_oracledb_122        #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm1_oracledb_19' in sap_swpm_inifile_sections_list %}

# Requested package : RDBMS-ORA
###################################################################
# BEGIN section swpm_installation_media_swpm1_oracledb_19         #
#                                                                 #
{% if sap_swpm_cd_oracle_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.RDBMS-ORA19 = {{ sap_swpm_cd_oracle_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_oracle_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_oracledb_19'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.RDBMS-ORA19'
{% endif %}

# Requested package : RDBMS-ORA CLIENT
{% if sap_swpm_cd_oracle_client_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.ORACLI19 = {{ sap_swpm_cd_oracle_client_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_oracle_client_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_oracledb_19'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.ORACLI19'
{% endif %}
#                                                                 #
#  END  section swpm_installation_media_swpm1_oracledb_19         #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm1_sapase' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_swpm1_sapase              #
#                                                                 #
# Requested package : RDBMS-SYB
{% if sap_swpm_cd_sapase_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.RDBMS-SYB = {{ sap_swpm_cd_sapase_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_sapase_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_sapase'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.RDBMS-SYB'
{% endif %}
{% if sap_swpm_cd_sapase_client_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.RDBMS-SYB-CLIENT = {{ sap_swpm_cd_sapase_client_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_sapase_client_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_sapase'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.RDBMS-SYB-CLIENT'
{% endif %}
#                                                                 #
#  END  section swpm_installation_media_swpm1_sapase              #
###################################################################
{% endif %}
{% if 'swpm_installation_media_swpm1_sapmaxdb' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_swpm1_sapmaxdb            #
#                                                                 #
# Requested package : RDBMS-ADA
{% if sap_swpm_cd_sapmaxdb_path | string | trim | length > 0 %}
SAPINST.CD.PACKAGE.RDBMS-ADA = {{ sap_swpm_cd_sapmaxdb_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_cd_sapmaxdb_path' is empty!XXX      Inifile Section: 'swpm_installation_media_swpm1_sapmaxdb'
ERROR:      Inifile Parameter: 'SAPINST.CD.PACKAGE.RDBMS-ADA'
{% endif %}
#                                                                 #
#  END  section swpm_installation_media_swpm1_sapmaxdb            #
###################################################################
{% endif %}
{% if 'maintenance_plan_stack_tms_config' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section maintenance_plan_stack_tms_config                 #
#                                                                 #
{% if sap_swpm_configure_tms is boolean %}
NW_ABAP_TMSConfig.configureTMS = {{ sap_swpm_configure_tms | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_configure_tms' is defined as '{{ sap_swpm_configure_tms }}', type '{{ sap_swpm_configure_tms | type_debug }}', must be defined as a boolean!
{% endif %}
{% if sap_swpm_tmsadm_password | string | trim | length > 0 %}
NW_ABAP_TMSConfig.transportPassword = {{ sap_swpm_tmsadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_ABAP_TMSConfig.transportPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_tmsadm_password', is empty!XXX      Inifile Section: 'maintenance_plan_stack_tms_config'
ERROR:      Inifile parameter: 'NW_ABAP_TMSConfig.transportPassword'
{% endif %}
{% endif %}
#                                                                 #
#  END  section maintenance_plan_stack_tms_config                 #
###################################################################
{% endif %}
{% if 'maintenance_plan_stack_tms_transports' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section maintenance_plan_stack_tms_transports             #
#                                                                 #
NW_ABAP_Include_Corrections.includeTransports = true
{% if sap_swpm_tms_tr_files_path | string | trim | length > 0 %}
NW_ABAP_Include_Corrections.transportFilesLocations = {{ sap_swpm_tms_tr_files_path }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_tms_tr_files_path' is empty!XXX      Inifile Section: 'maintenance_plan_stack_tms_transports'
ERROR:      Inifile Parameter: 'NW_ABAP_Include_Corrections.transportFilesLocations'
{% endif %}
#                                                                 #
#  END  section maintenance_plan_stack_tms_transports             #
###################################################################
{% endif %}
{% if 'maintenance_plan_stack_spam_config' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section maintenance_plan_stack_spam_config                #
#                                                                 #
{% if sap_swpm_spam_update is boolean %}
NW_ABAP_SPAM_Update.SPAMUpdateDecision = {{ sap_swpm_spam_update | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_spam_update' is defined as '{{ sap_swpm_spam_update }}', type '{{ sap_swpm_spam_update | type_debug }}', must be defined as a boolean!!XXX      Inifile Section: 'maintenance_plan_stack_spam_config'
ERROR:      Inifile parameter: 'NW_ABAP_SPAM_Update.SPAMUpdateDecision'
{% endif %}
{% if sap_swpm_spam_update %}
NW_ABAP_SPAM_Update.SPAMUpdateArchive = {{ sap_swpm_spam_update_sar }}
{% else %}
#NW_ABAP_SPAM_Update.SPAMUpdateArchive =
{% endif %}
#                                                                 #
#  END  section maintenance_plan_stack_spam_config                #
###################################################################
{% endif %}
{% if 'maintenance_plan_stack_sum_config' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section maintenance_plan_stack_sum_config
#                                                                 #

{% if sap_swpm_sum_prepare is boolean %}
NW_ABAP_Prepare_SUM.prepareSUM = {{ sap_swpm_sum_prepare | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_sum_prepare' is defined as '{{ sap_swpm_sum_prepare }}', type '{{ sap_swpm_sum_prepare | type_debug }}', must be defined as a boolean!XXX      Inifile Section: 'maintenance_plan_stack_sum_config'
ERROR:      Inifile parameter: 'NW_ABAP_Prepare_SUM.prepareSUM'
{% endif %}
{% if sap_swpm_sum_start is boolean %}
NW_ABAP_Prepare_SUM.startSUM = {{ sap_swpm_sum_start | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_sum_start' is defined as '{{ sap_swpm_sum_start }}', type '{{ sap_swpm_sum_start | type_debug }}', must be defined as a boolean!XXX      Inifile Section: 'maintenance_plan_stack_sum_config'
ERROR:      Inifile parameter: 'NW_ABAP_Prepare_SUM.startSUM'
{% endif %}

# Password for SUM must be for '<sapsid>adm' user
{% if sap_swpm_sap_sidadm_password | string | trim | length > 0 %}
NW_ABAP_Prepare_SUM.Password = {{ sap_swpm_sap_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_ABAP_Prepare_SUM.Password = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sap_sidadm_password', is empty!XXX      Inifile Section: 'maintenance_plan_stack_sum_config'
ERROR:      Inifile parameter: 'NW_ABAP_Prepare_SUM.Password'
{% endif %}
{% endif %}
#                                                                 #
#  END  section maintenance_plan_stack_sum_config
###################################################################
{% endif %}
{% if 'maintenance_plan_stack_sum_10_batch_mode' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section maintenance_plan_stack_sum_10_batch_mode          #
#                                                                 #
# Re-run of existing BatchModeInputFile.xml for NWAS JAVA (generated by SUM 1.0 on previous host into the /sdt/param/ subdirectory)
NW_ABAP_Prepare_SUM.SUMBatchFile = {{ sap_swpm_sum_batch_file }}
#                                                                 #
#  END  section maintenance_plan_stack_sum_10_batch_mode          #
###################################################################
{% endif %}
{% if 'credentials' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials                                       #
#                                                                 #
# Master password (can be empty):
NW_GetMasterPassword.masterPwd = {{ sap_swpm_master_password }}
# '<sapsid>adm' user:
{% if sap_swpm_sap_sidadm_password | string | trim | length > 0 %}
nwUsers.sidadmPassword = {{ sap_swpm_sap_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
nwUsers.sidadmPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sap_sidadm_password', is empty!XXX      Inifile Section: 'credentials'
ERROR:      Inifile Parameter: 'nwUsers.sidadmPassword'
{% endif %}
{% endif %}
# Diagnostics Agent user:
{% if sap_swpm_diagnostics_agent_password | string | trim | length > 0 %}
DiagnosticsAgent.dasidAdmPassword = {{ sap_swpm_diagnostics_agent_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
DiagnosticsAgent.dasidAdmPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_diagnostics_agent_password', is empty!XXX      Inifile Section 'credentials'
ERROR:      Inifile Parameter: 'DiagnosticsAgent.dasidAdmPassword'
{% endif %}
{% endif %}
# 'sapadm' user of the SAP Host Agent:
{% if sap_swpm_sapadm_password | string | trim | length > 0 %}
hostAgent.sapAdmPassword = {{ sap_swpm_sapadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
hostAgent.sapAdmPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sapadm_password', is empty!XXX      Inifile Section: 'credentials'
ERROR:      Inifile Parameter: 'hostAgent.sapAdmPassword'
{% endif %}
{% endif %}
#                                                                 #
#  END  section credentials                                       #
###################################################################
{% endif %}
{% if 'credentials_hana' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials_hana                                  #
#                                                                 #
{% if sap_swpm_db_schema_password | string | trim | length > 0 %}
HDB_Schema_Check_Dialogs.schemaPassword = {{ sap_swpm_db_schema_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
HDB_Schema_Check_Dialogs.schemaPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_schema_password', is empty!XXX      Inifile Section: 'credentials_hana'
ERROR:      Inifile Parameter: 'HDB_Schema_Check_Dialogs.schemaPassword'
{% endif %}
{% endif %}
{% if sap_swpm_db_system_password | string | trim | length > 0 %}
storageBasedCopy.hdb.systemPassword = {{ sap_swpm_db_system_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
storageBasedCopy.hdb.systemPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_system_password', is empty!XXX      Inifile Section: 'credentials_hana'
ERROR:      Inifile Parameter: 'storageBasedCopy.hdb.systemPassword'
{% endif %}
{% endif %}
#                                                                 #
#  END  section credentials_hana                                  #
###################################################################
{% endif %}
{% if 'credentials_anydb_ibmdb2' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials_anydb_ibmdb2                          #
#                                                                 #
{% if sap_swpm_sap_sidadm_password | string | trim | length > 0 %}
nwUsers.db6.db2sidPassword = {{ sap_swpm_sap_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
nwUsers.db6.db2sidPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sap_sidadm_password', is empty!XXX      Inifile Section: 'credentials_anydb_ibmdb2'
ERROR:      Inifile Parameter: 'nwUsers.db6.db2sidPassword'
{% endif %}
{% endif %}
# nwUsers.db6.db2sidUid =
#                                                                 #
#  END  section credentials_anydb_ibmdb2                          #
###################################################################
{% endif %}
{% if 'credentials_anydb_oracledb' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials_anydb_oracledb                        #
#                                                                 #
# Oracle database software owner
{% if sap_swpm_sap_sidadm_password | string | trim | length > 0 %}
ora.oraclePassword = {{ sap_swpm_sap_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
ora.oraclePassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sap_sidadm_password', is empty!XXX      Inifile Section: 'credentials_anydb_oracledb'
ERROR:      Inifile Parameter: 'ora.oraclePassword'
{% endif %}
{% endif %}
# 'ora<dbsid>' user
{% if sap_swpm_sap_sidadm_password | string | trim | length > 0 %}
ora.orasidPassword = {{ sap_swpm_sap_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
ora.orasidPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sap_sidadm_password', is empty!XXX      Inifile Section: 'credentials_anydb_oracledb'
ERROR:      Inifile Parameter: 'ora.orasidPassword'
{% endif %}
{% endif %}
# Oracle 'SYS' password
{% if sap_swpm_db_system_password | string | trim | length > 0 %}
ora.SysPassword = {{ sap_swpm_db_system_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
ora.SysPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_system_password', is empty!XXX      Inifile Section: 'credentials_anydb_oracledb'
ERROR:      Inifile Parameter: 'ora.SysPassword'
{% endif %}
{% endif %}
# Oracle 'SYSTEM' password
{% if sap_swpm_db_system_password | string | trim | length > 0 %}
ora.SystemPassword = {{ sap_swpm_db_system_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
ora.SystemPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_system_password', is empty!XXX      Inifile Section: 'credentials_anydb_oracledb'
ERROR:      Inifile Parameter: 'ora.SystemPassword'
{% endif %}
{% endif %}
#                                                                 #
#  END  section credentials_anydb_oracledb                        #
###################################################################
{% endif %}
{% if 'credentials_anydb_sapase' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials_anydb_sapase                          #
#                                                                 #
{% if sap_swpm_sap_sidadm_password | string | trim | length > 0 %}
nwUsers.syb.sybsidPassword = {{ sap_swpm_sap_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
nwUsers.syb.sybsidPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sap_sidadm_password', is empty!XXX      Inifile Section: 'credentials_anydb_sapase'
ERROR:      Inifile Parameter: 'nwUsers.syb.sybsidPassword'
{% endif %}
{% endif %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
SYB.NW_DB.sa_pass = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password' is empty!XXX      Inifile Section: 'credentials_anydb_sapase'
ERROR:      Inifile Parameter: 'SYB.NW_DB.sa_pass'
{% endif %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
SYB.NW_DB.sapsa_pass = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password' is empty!XXX      Inifile Section: 'credentials_anydb_sapase'
ERROR:      Inifile Parameter: 'SYB.NW_DB.sapsa_pass'
{% endif %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
SYB.NW_DB.sapsr3_pass = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password' is empty!XXX      Inifile Section: 'credentials_anydb_sapase'
ERROR:      Inifile Parameter: 'SYB.NW_DB.sapsr3_pass'
{% endif %}
{% if sap_swpm_db_system_password | string | trim | length > 0 %}
SYB.NW_DB.sapsr3db_pass = {{ sap_swpm_db_system_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
SYB.NW_DB.sapsr3db_pass = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_system_password', is empty!XXX      Inifile Section: 'credentials_anydb_sapase'
ERROR:      Inifile Parameter: 'SYB.NW_DB.sapsr3db_pass'
{% endif %}
{% endif %}
# SYB.NW_DB.encryptionMasterKeyPassword =
# SYB.NW_DB.sapsso_pass =
# SYB.NW_DB.sslPassword =
#                                                                 #
#  END  section credentials_anydb_sapase                          #
###################################################################
{% endif %}
{% if 'credentials_anydb_sapmaxdb' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials_anydb_sapmaxdb                        #
#                                                                 #
# Note: The password of user DBUser may only consist of alphanumeric characters and the special characters #, $, @ and _
{% if sap_swpm_sap_sidadm_password | string | trim | length > 0 %}
nwUsers.ada.sqdsidPassword = {{ sap_swpm_sap_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
nwUsers.ada.sqdsidPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sap_sidadm_password', is empty!XXX      Inifile Section: 'credentials_anydb_sapmaxdb'
ERROR:      Inifile Parameter: 'nwUsers.ada.sqdsidPassword'
{% endif %}
{% endif %}
{% if sap_swpm_db_system_password | string | trim | length > 0 %}
Sdb_DBUser.dbaPassword = {{ sap_swpm_db_system_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
Sdb_DBUser.dbaPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_system_password', is empty!XXX      Inifile Section: 'credentials_anydb_sapmaxdb'
ERROR:      Inifile Parameter: 'Sdb_DBUser.dbaPassword'
{% endif %}
{% endif %}
{% if sap_swpm_db_system_password | string | trim | length > 0 %}
Sdb_DBUser.dbmPassword = {{ sap_swpm_db_system_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
Sdb_DBUser.dbmPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_system_password', is empty!XXX      Inifile Section: 'credentials_anydb_sapmaxdb'
ERROR:      Inifile Parameter: 'Sdb_DBUser.dbmPassword'
{% endif %}
{% endif %}
{% if sap_swpm_db_schema_password | string | trim | length > 0 %}
Sdb_Schema_Dialogs.dbSchemaPassword = {{ sap_swpm_db_schema_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
Sdb_Schema_Dialogs.dbSchemaPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_schema_password', is empty!XXX      Inifile Section: 'credentials_anydb_sapmaxdb'
ERROR:      Inifile Parameter: 'Sdb_Schema_Dialogs.dbSchemaPassword'
{% endif %}
{% endif %}
#                                                                 #
#  END  section credentials_anydb_sapmaxdb                        #
###################################################################
{% endif %}
{% if 'credentials_nwas_ssfs' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials_nwas_ssfs                             #
#                                                                 #
HDB_Userstore.useABAPSSFS = true
# NW_ABAP_SSFS_CustomKey.ssfsKeyInputFile = 
#                                                                 #
#  END  section credentials_nwas_ssfs                             #
###################################################################
{% endif %}
{% if 'credentials_hdbuserstore' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials_hdbuserstore                          #
#                                                                 #
HDB_Userstore.useABAPSSFS = false
# HDB_Userstore.doNotResolveHostnames =
# HDB_Userstore.HDB_USE_IDENT =
# HDB_Userstore.systemDBPort =
# NW_HDB_DBClient.checkCreateUserstore = true
# NW_HDB_DBClient.clientPathStrategy = LOCAL
#                                                                 #
#  END  section credentials_hdbuserstore                          #
###################################################################
{% endif %}
{% if 'credentials_syscopy' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section credentials_syscopy                               #
#                                                                 #
# Are the passwords for the DDIC users different from the default value?
NW_DDIC_Password.needDDICPasswords = true
{% if sap_swpm_ddic_000_password | string | trim | length > 0 %}
NW_DDIC_Password.ddic000Password = {{ sap_swpm_ddic_000_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_DDIC_Password.ddic000Password = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_ddic_000_password', is empty!XXX      Inifile Section: 'credentials_syscopy'
ERROR:      Inifile Parameter: 'NW_DDIC_Password.ddic000Password'
{% endif %}
{% endif %}
#NW_DDIC_Password.ddic001Password =
#                                                                 #
#  END  section credentials_syscopy                               #
###################################################################
{% endif %}
{% if 'db_config_hana' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_hana                                    #
#                                                                 #
{% if sap_swpm_db_instance_nr | string | trim | length > 0 %}
storageBasedCopy.hdb.instanceNumber = {{ sap_swpm_db_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_instance_nr' is empty!
{% endif %}
HDB_Schema_Check_Dialogs.schemaName = {{ sap_swpm_db_schema }}
######################################################################
# BEGIN subsection nw_config_additional_application_server_instance  #
#                                                                    #
{% if 'nw_config_additional_application_server_instance' in sap_swpm_inifile_sections_list %}
HDB_Schema_Check_Dialogs.validateSchemaName = true
{% else %}
HDB_Schema_Check_Dialogs.validateSchemaName = false
#                                                                    #
#  END  subsection nw_config_additional_application_server_instance  #
######################################################################
{% endif %}
# HDB_Schema_Check_Dialogs.dropSchema = false
# hdb.create.dbacockpit.user = false
#                                                                 #
#  END  section db_config_hana                                    #
###################################################################
{% endif %}
{% if 'db_config_anydb_all' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_anydb_all                               #
#                                                                 #
NW_ABAP_Import_Dialog.dbCodepage = 4103
#                                                                 #
#  END  section db_config_anydb_all                               #
###################################################################
{% endif %}
{% if 'db_config_anydb_ibmdb2' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_anydb_ibmdb2                            #
#                                                                 #
NW_ABAP_Import_Dialog.migmonJobNum = 3
NW_ABAP_Import_Dialog.migmonLoadArgs = -stop_on_error -loadprocedure fast LOAD:COMPRESS_ALL:DEF_CRT
{% if sap_swpm_db_host | string | trim | length > 0 %}
NW_getDBInfoGeneric.dbhost = {{ sap_swpm_db_host }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_host' is empty!
{% endif %}
{% if sap_swpm_db_sid | string | trim | length > 0 %}
NW_getDBInfoGeneric.dbsid = {{ sap_swpm_db_sid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
NW_getUnicode.isUnicode = true
# db6.useMcod = true
# db6.useBluSettings = false
# db6.gid_sysadm =
# db6.gid_sysctrl =
# db6.gid_sysmaint =
# db6.gid_sysmon =
db6.allowUnsignedDatabaseSoftware = true
db6.cluster.ClusterType = HADR (High Availability Disaster Recovery)
db6.createTablespacesUsingSapinst = true
db6.minimizeDatabaseSizeCompression = true
db6.TablespacePoolSizes = SAPSID#DATA{20}
db6.useAutoStorage = true
db6.useExtraSapdataSaptmpDirLayout = false
db6.UseStandardTablespacePool = true
db6.usesLDAP = false
storageBasedCopy.db6.CommunicationPortNumber = 5912
storageBasedCopy.db6.PortRangeEnd = 5917
storageBasedCopy.db6.PortRangeStart = 5914
#                                                                 #
#  END  section db_config_anydb_ibmdb2                            #
###################################################################
{% endif %}
{% if 'db_config_anydb_oracledb' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_anydb_oracledb                          #
#                                                                 #
NW_ABAP_Import_Dialog.migmonJobNum = 3
NW_ABAP_Import_Dialog.migmonLoadArgs = -stop_on_error -loadprocedure fast
{% if sap_swpm_db_sid | string | trim | length > 0 %}
NW_getDBInfoGeneric.dbsid = {{ sap_swpm_db_sid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
storageBasedCopy.ora.listenerName = SAPORALISTENER
# storageBasedCopy.ora.listenerPort =
{% if sap_swpm_db_schema_abap | string | trim | length > 0 %}
storageBasedCopy.ora.ABAPSchema = {{ sap_swpm_db_schema_abap }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_schema_abap' is empty!
{% endif %}
# storageBasedCopy.ora.JavaSchema = {{ sap_swpm_db_schema_java }}
# storageBasedCopy.ora.swowner = oracle
ora.createStatisticsCodeABAP = SKIP
ora.createStatisticsCodeJAVA = SKIP
ora.multitenant.pdbsid = {{ sap_swpm_sid | upper }}
ora.whatInstallation = isSingle
# ora.IgnoreClientVersion = false
# ora.maxDatafileSize = 2000

#### Oracle Multitenant Pluggable DB: ####
#### a single Oracle Container Database (CDB) can host multiple Oracle Pluggable Databases (PDB) ####
## FALSE:    no pluggable installation (default value)
## CDB_PDB:  install CDB and PDB
## PDB_ONLY: install PDB only in an existing CDB.
## CDB_ONLY: install CDB only.
ora.multitenant.installMT = FALSE
#                                                                 #
#  END  section db_config_anydb_oracledb                          #
###################################################################
{% endif %}
{% if 'db_config_anydb_oracledb_121' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_anydb_oracledb_121                      #
#                                                                 #
# Use path to Oracle Home - Runtime (i.e. $OHRDBMS env var)
{% if sap_swpm_db_sid | string | trim | length > 0 %}
ora.dbhome = /oracle/{{ sap_swpm_db_sid }}/121
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
storageBasedCopy.ora.clientVersion = 121
storageBasedCopy.ora.serverVersion = 121
#                                                                 #
#  END  section db_config_anydb_oracledb_121                      #
###################################################################
{% endif %}
{% if 'db_config_anydb_oracledb_122' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_anydb_oracledb_122                      #
#                                                                 #
# Use path to Oracle Home - Runtime (i.e. $OHRDBMS env var)
{% if sap_swpm_db_sid | string | trim | length > 0 %}
ora.dbhome = /oracle/{{ sap_swpm_db_sid }}/122
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
storageBasedCopy.ora.clientVersion = 122
storageBasedCopy.ora.serverVersion = 122
#                                                                 #
#  END  section db_config_anydb_oracledb_122                      #
###################################################################
{% endif %}
{% if 'db_config_anydb_oracledb_19' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_anydb_oracledb_19                       #
#                                                                 #
# Use path to Oracle Home - Runtime (i.e. $OHRDBMS env var)
{% if sap_swpm_db_sid | string | trim | length > 0 %}
ora.dbhome = /oracle/{{ sap_swpm_db_sid }}/19
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
storageBasedCopy.ora.clientVersion = 19
storageBasedCopy.ora.serverVersion = 19
#                                                                 #
#  END  section db_config_anydb_oracledb_19                       #
###################################################################
{% endif %}
{% if 'db_config_anydb_sapase' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_anydb_sapase                            #
#                                                                 #
NW_ABAP_Import_Dialog.migmonJobNum = 3
NW_ABAP_Import_Dialog.migmonLoadArgs = -c 100000 -loadprocedure fast
NW_SYB_DBPostload.numberParallelStatisticJobs = 0
SYB.NW_DB.aseSortOrder = binaryalt
SYB.NW_DB.databaseDevices = data device for SAP,/sybase/{{ sap_swpm_sid | upper }}/sapdata_1,88,,,{{ sap_swpm_sid | upper }}_data_001,log device for SAP,/sybase/{{ sap_swpm_sid | upper }}/saplog_1,10,,,{{ sap_swpm_sid | upper }}_log_001,data device for saptools,/sybase/{{ sap_swpm_sid | upper }}/sapdiag,2,,,saptools_data_001,log device for saptools,/sybase/{{ sap_swpm_sid | upper }}/sapdiag,2,,,saptools_log_001,data device for sybsecurity,/sybase/{{ sap_swpm_sid | upper }}/sybsecurity,1,,,sybsecurity_data_001,data device for sybsecurity,/sybase/{{ sap_swpm_sid | upper }}/sybsecurity,1,,,sybsecurity_data_002,log device for sybsecurity,/sybase/{{ sap_swpm_sid | upper }}/sybsecurity,0.5,,,sybsecurity_log_001,temp device for SAP,/sybase/{{ sap_swpm_sid | upper }}/saptemp,8,,,saptempdb_data_001,
SYB.NW_DB.databaseType = ase
SYB.NW_DB.enableGranularPermissions = true
SYB.NW_DB.enableStrongCipherSuitesForSSL = false
SYB.NW_DB.folderDatabaseSoftware = /sybase/{{ sap_swpm_sid | upper }}
SYB.NW_DB.folderDiagDevice = /sybase/{{ sap_swpm_sid | upper }}/sapdiag
SYB.NW_DB.folderSAPTempdbDevice = /sybase/{{ sap_swpm_sid | upper }}/saptemp
SYB.NW_DB.folderSecurityDevices = /sybase/{{ sap_swpm_sid | upper }}/sybsecurity
SYB.NW_DB.folderSystemDevices = /sybase/{{ sap_swpm_sid | upper }}/sybsystem
SYB.NW_DB.folderTempdbDevice = /sybase/{{ sap_swpm_sid | upper }}/sybtemp
SYB.NW_DB.indexConsumers = 3
SYB.NW_DB.initializeDefaultSystemEncryptionPassword = false
SYB.NW_DB.maxIndexParallelDegree = 10
SYB.NW_DB.maxQueryParallelDegree = 10
SYB.NW_DB.numberWorkerProcesses = 50
SYB.NW_DB.sqlServerConnections = 200
{% if sap_swpm_db_host | string | trim | length > 0 %}
SYB.NW_DB.sqlServerHostname = {{ sap_swpm_db_host }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_host' is empty!
{% endif %}
SYB.NW_DB.sybmgmtdbDataDeviceFolder = /sybase/{{ sap_swpm_sid | upper }}/sybsystem
SYB.NW_DB.sybmgmtdbLogDeviceFolder = /sybase/{{ sap_swpm_sid | upper }}/sybsystem
{% if sap_swpm_ascs_instance_hostname | string | trim | length > 0 %}
SYB.NW_DB.userstore_hostname = {{ sap_swpm_ascs_instance_hostname }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ascs_instance_hostname' is empty!
{% endif %}

# To avoid conflicts, leave all Ports blank and SAP SWPM will auto-assign
# Ports by default are in order 4901, 4902, 4903, 4904. For each new ASE DB Server instance on the host, each port number is incremented by 4
SYB.NW_DB.portDatabaseServer = 
SYB.NW_DB.portBackupServer = 
SYB.NW_DB.portJobScheduler = 
SYB.NW_DB.portXPServer = 
#                                                                 #
#  END  section db_config_anydb_sapase                            #
###################################################################
{% endif %}
{% if 'db_config_anydb_sapmaxdb' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_config_anydb_sapmaxdb                          #
#                                                                 #
NW_ABAP_Import_Dialog.migmonJobNum = 90
NW_ABAP_Import_Dialog.migmonLoadArgs = -para_cnt 90
{% if sap_swpm_db_sid | string | trim | length > 0 %}
NW_ADA_getDBInfo.dbsid = {{ sap_swpm_db_sid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
SdbInstanceDialogs.DB_sessions = 100
SdbInstanceDialogs.minlogsize = 4000
SdbInstanceDialogs.sapdataFolder = sapdata
SdbInstanceDialogs.saplogFolder = saplog
#                                                                 #
#  END  section db_config_anydb_sapmaxdb                          #
###################################################################
{% endif %}
{% if 'db_connection_nw_hana' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_connection_nw_hana                             #
#                                                                 #
{% if sap_swpm_db_host | string | trim | length > 0 %}
NW_HDB_getDBInfo.dbhost = {{ sap_swpm_db_host }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_host' is empty!
{% endif %}
{% if sap_swpm_db_sid | string | trim | length > 0 %}
NW_HDB_getDBInfo.dbsid = {{ sap_swpm_db_sid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
{% if sap_swpm_db_instance_nr | string | trim | length > 0 %}
NW_HDB_getDBInfo.instanceNumber = {{ sap_swpm_db_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_instance_nr' is empty!
{% endif %}
{% if sap_swpm_db_sid | string | trim | length > 0 %}
NW_HDB_getDBInfo.systemid = {{ sap_swpm_db_sid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
{% if sap_swpm_db_system_password | string | trim | length > 0 %}
NW_HDB_getDBInfo.systemPassword = {{ sap_swpm_db_system_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_HDB_getDBInfo.systemPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_system_password', is empty!XXX      Inifile Section: 'db_connection_nw_hana'
ERROR:      Inifile Parameter: 'NW_HDB_getDBInfo.systemPassword'
{% endif %}
{% endif %}
# NW_HDB_getDBInfo.systemDbSid = SystemDB
{% if sap_swpm_db_systemdb_password | string | trim | length > 0 %}
NW_HDB_getDBInfo.systemDbPassword = {{ sap_swpm_db_systemdb_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_HDB_getDBInfo.systemDbPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_systemdb_password', is empty!XXX      Inifile Section: 'db_connection_nw_hana'
ERROR:      Inifile Parameter: 'NW_HDB_getDBInfo.systemDbPassword'
{% endif %}
{% endif %}
{% if sap_swpm_db_schema_abap | string | trim | length > 0 %}
NW_HDB_DB.abapSchemaName = {{ sap_swpm_db_schema_abap }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_schema_abap' is empty!
{% endif %}
{% if sap_swpm_db_schema_abap_password | string | trim | length > 0 %}
NW_HDB_DB.abapSchemaPassword = {{ sap_swpm_db_schema_abap_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_HDB_DB.abapSchemaPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_schema_abap_password', is empty!XXX      Inifile Section: 'db_connection_nw_hana'
ERROR:      Inifile Parameter: 'NW_HDB_DB.abapSchemaPassword'
{% endif %}
{% endif %}
NW_HDB_DB.javaSchemaName = {{ sap_swpm_db_schema_java }}
{% if sap_swpm_db_schema_java_password | string | trim | length > 0 %}
NW_HDB_DB.javaSchemaPassword = {{ sap_swpm_db_schema_java_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_HDB_DB.javaSchemaPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_schema_java_password', is empty!XXX      Inifile Section: 'db_connection_nw_hana'
ERROR:      Inifile Parameter: 'NW_HDB_DB.javaSchemaPassword'
{% endif %}
{% endif %}
{% if sap_swpm_db_sid | string | trim | length > 0 %}
{% if sap_swpm_db_instance_nr | string | trim | length > 0 %}
NW_Recovery_Install_HDB.extractLocation = /usr/sap/{{ sap_swpm_db_sid }}/HDB{{ sap_swpm_db_instance_nr }}/backup/data/DB_HDB
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_instance_nr' is empty!
{% endif %}
{% else %}
{% if sap_swpm_db_instance_nr | string | trim | length == 0 %}
ERROR:FAIL: Variable 'sap_swpm_db_instance_nr' is empty!
{% endif %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
NW_Recovery_Install_HDB.extractParallelJobs = {{ sap_swpm_parallel_jobs_nr }}
{% if sap_swpm_db_sid | string | trim | length > 0 %}
NW_Recovery_Install_HDB.sidAdmName = {{ sap_swpm_db_sid | lower }}adm
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
{% if sap_swpm_db_sidadm_password | string | trim | length > 0 %}
NW_Recovery_Install_HDB.sidAdmPassword = {{ sap_swpm_db_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_Recovery_Install_HDB.sidAdmPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_sidadm_password', is empty!XXX      Inifile Section: 'db_connection_nw_hana'
ERROR:      Inifile Parameter: 'NW_Recovery_Install_HDB.sidAdmPassword'
{% endif %}
{% endif %}
# NW_HDB_getDBInfo.dbadmin = SYSTEM
# NW_HDB_getDBInfo.tenantOsGroup = {{ sap_swpm_db_sid | lower }}grp
# NW_HDB_getDBInfo.tenantOsUser = {{ sap_swpm_db_sid | lower }}usr
# NW_HDB_getDBInfo.tenantPort =
#                                                                 #
#  END  section db_connection_nw_hana                             #
###################################################################
{% endif %}
{% if 'db_connection_nw_anydb_ibmdb2' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_connection_nw_anydb_ibmdb2                     #
#                                                                 #
# db6.UseDb2SSLClientServerComm = false
{% if sap_swpm_sapadm_password | string | trim | length > 0 %}
nwUsers.db6.sapsidPassword = {{ sap_swpm_sapadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
nwUsers.db6.sapsidPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_sapadm_password', is empty!XXX      Inifile Section: 'db_connection_nw_anydb_ibmdb2'
ERROR:      Inifile Parameter: 'nwUsers.db6.sapsidPassword'
{% endif %}
{% endif %}
# nwUsers.db6.sapsidUid =

# nwUsers.db6.sapsiddbPassword =
# nwUsers.db6.sapsiddbUid =

# Database Schema and Database Connect User for ABAP (default is sap<sapsid> and not sap<anydbsid>)
{% if sap_swpm_sid | string | trim | length > 0 %}
NW_DB6_DB.db6.abap.connect.user = sap{{ sap_swpm_sid | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_sid' is empty!
{% endif %}
{% if sap_swpm_sid | string | trim | length > 0 %}
NW_DB6_DB.db6.abap.schema = sap{{ sap_swpm_sid | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_sid' is empty!
{% endif %}
# NW_DB6_DB.db6.java.connect.user =
# NW_DB6_DB.db6.java.schema =
#                                                                 #
#  END  section db_connection_nw_anydb_ibmdb2                     #
###################################################################
{% endif %}
{% if 'db_connection_nw_anydb_oracledb' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_connection_nw_anydb_oracledb                    #
#                                                                 #
{% if sap_swpm_db_schema_abap_password | string | trim | length > 0 %}
storageBasedCopy.abapSchemaPassword = {{ sap_swpm_db_schema_abap_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
storageBasedCopy.abapSchemaPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_schema_abap_password', is empty!XXX      Inifile Section: 'db_connection_nw_anydb_oracledb'
ERROR:      Inifile Parameter: 'storageBasedCopy.abapSchemaPassword'
{% endif %}
{% endif %}
{% if sap_swpm_db_schema_java_password | string | trim | length > 0 %}
storageBasedCopy.javaSchemaPassword = {{ sap_swpm_db_schema_java_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
storageBasedCopy.javaSchemaPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_schema_java_password', is empty!XXX      Inifile Section: 'db_connection_nw_anydb_oracledb'
ERROR:      Inifile Parameter: 'storageBasedCopy.javaSchemaPassword'
{% endif %}
{% endif %}
#                                                                 #
#  END  section db_connection_nw_anydb_oracledb                    #
###################################################################
{% endif %}
{% if 'db_connection_nw_anydb_sapase' in sap_swpm_inifile_sections_list %}

###################################################################
# db_connection_nw_anydb_sapase
###################################################################
# NW_SYB_CIABAP.sapsaPassword =
{% endif %}
{% if 'db_restore_hana' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section db_restore_hana                                   #
#                                                                 #
{% if sap_swpm_backup_system_password | string | trim | length > 0 %}
NW_HDB_getDBInfo.systemPasswordBackup = {{ sap_swpm_backup_system_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_HDB_getDBInfo.systemPasswordBackup = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_backup_system_password', is empty!XXX      Inifile Section: 'db_restore_hana'
ERROR:      Inifile Parameter: 'NW_HDB_getDBInfo.systemPasswordBackup'
{% endif %}
{% endif %}
{% if sap_swpm_backup_location | string | trim | length > 0 %}
HDB_Recovery_Dialogs.backupLocation = {{ sap_swpm_backup_location }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_backup_location' is empty!
{% endif %}
{% if sap_swpm_backup_prefix | string | trim | length > 0 %}
HDB_Recovery_Dialogs.backupName = {{ sap_swpm_backup_prefix }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_backup_prefix' is empty!
{% endif %}
{% if sap_swpm_db_host | string | trim | length > 0 %}
{% if sap_swpm_db_instance_nr | string | trim | length > 0 %}
HDB_Recovery_Dialogs.sapControlWsdlUrl = http://{{ sap_swpm_db_host }}:5{{ sap_swpm_db_instance_nr }}13/SAPControl?wsdl
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_instance_nr' is empty!
{% endif %}
{% else %}
{% if sap_swpm_db_instance_nr | string | trim | length == 0 %}
ERROR:FAIL: Variable 'sap_swpm_db_instance_nr' is defined with an empty string!
{% endif %}
ERROR:FAIL: Variable 'sap_swpm_db_host' is empty!
{% endif %}
{% if sap_swpm_db_sid | string | trim | length > 0 %}
HDB_Recovery_Dialogs.sidAdmName = {{ sap_swpm_db_sid | lower }}adm
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
{% if sap_swpm_db_sidadm_password | string | trim | length > 0 %}
HDB_Recovery_Dialogs.sidAdmPassword = {{ sap_swpm_db_sidadm_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
HDB_Recovery_Dialogs.sidAdmPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_db_sidadm_password', is empty!XXX      Inifile Section: 'db_restore_hana'
ERROR:      Inifile Parameter: 'HDB_Recovery_Dialogs.sidAdmPassword'
{% endif %}
{% endif %}
# HDB_Recovery_Dialogs.backupDestinationType = File
# HDB_Recovery_Dialogs.licenseFile =
# HDB_Recovery_Dialogs.skipExistenceCheck = false
# HDB_Recovery_Dialogs.sourceDatabaseSid =
# HDB_Recovery_Dialogs.useLicenseFile = false
# NW_Recovery_Install_HDB.checkIntegrity = false
# NW_Recovery_Install_HDB.backupLocationHANA =
# NW_Recovery_Install_HDB.backupLocationSAP =
# NW_Recovery_Install_HDB.loadOrMount = load
# HDB_System_Check_Dialogs.initTopology = false
# NW_CreateDBandLoad.movePVCforUsagePiAndDi =
#                                                                 #
#  END  section db_restore_hana                                   #
###################################################################
{% endif %}
{% if 'nw_config_anydb' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_anydb                                   #
#                                                                 #
# Distributed installation or system copy with any database and SAP Basis release 740 or higher:
# Execute ABAP program 'RUTPOADAPT' for depooling. Set it to 'true' if declustering / depooling is selected for the distributed database instance installation option
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = false
#                                                                 #
#  END  section nw_config_anydb                                   #
###################################################################
{% endif %}
{% if 'nw_config_other' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_other                                   #
#                                                                 #
# NW_Delete_Sapinst_Users.removeUsers = false
NW_getFQDN.FQDN = {{ sap_swpm_fqdn }}
NW_getFQDN.setFQDN = {{ sap_swpm_set_fqdn | lower }}
# NW_getFQDN.resolve = true
NW_GetSidNoProfiles.sid = {{ sap_swpm_sid }}
# NW_GetSidNoProfiles.sapmnt = /sapmnt
# NW_GetSidNoProfiles.strictSidCheck = true
# NW_GetSidNoProfiles.unicode = true
NW_readProfileDir.profileDir = /sapmnt/{{ sap_swpm_sid | upper }}/profile
# NW_readProfileDir.profilesAvailable =
NW_getLoadType.loadType = {{ sap_swpm_load_type }}
# NW_getUnicode.isUnicode =
# MessageServer.configureAclInfo = false
# NW_Exit_Before_Systemstart.exit = false
# NW_adaptProfile.skipSecurityProfileSettings = false
# OS4.DestinationASP =
#                                                                 #
#  END  section nw_config_other                                   #
###################################################################
{% endif %}
{% if 'nw_config_central_services_abap' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_central_services_abap                   #
#                                                                 #
# Central Services (ASCS) contains the Message server (MS) and Enqueue work processes (EN) for the ABAP Dispatcher.
# Formerly the processes were contained in the Central Instance (CI).
###################################################################
{% if sap_swpm_ascs_instance_hostname | string | trim | length > 0 %}
NW_CI_Instance.ascsVirtualHostname = {{ sap_swpm_ascs_instance_hostname }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ascs_instance_hostname' is empty!
{% endif %}
{% if sap_swpm_ascs_instance_nr | string | trim | length > 0 %}
NW_CI_Instance.ascsInstanceNumber = {{ sap_swpm_ascs_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ascs_instance_nr' is empty!
{% endif %}
# NW_SCS_Instance.ascsVirtualHostname = {{ sap_swpm_ascs_instance_hostname }}
{% if sap_swpm_ascs_instance_nr | string | trim | length > 0 %}
NW_SCS_Instance.ascsInstanceNumber = {{ sap_swpm_ascs_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ascs_instance_nr' is empty!
{% endif %}
#                                                                 #
#  END  section nw_config_central_services_abap                   #
###################################################################
{% endif %}
{% if 'nw_config_central_services_java' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_central_services_java                   #
#                                                                 #
# SAP Java Central Services Instance (SCS) contains:
# - Java Message server (MS),
# - Java Enqueue server (EN),
# - Java Gateway (GW) and
# - Java Internal Web Dispatcher (WD).
###################################################################
{% if sap_swpm_java_scs_instance_hostname | string | trim | length > 0 %}
NW_CI_Instance.scsVirtualHostname = {{ sap_swpm_java_scs_instance_hostname }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_java_scs_instance_hostname' is empty!
{% endif %}
{% if sap_swpm_java_scs_instance_nr | string | trim | length > 0 %}
NW_CI_Instance.scsInstanceNumber = {{ sap_swpm_java_scs_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_java_scs_instance_nr' is empty!
{% endif %}
{% if sap_swpm_java_scs_instance_hostname | string | trim | length > 0 %}
NW_SCS_Instance.scsVirtualHostname = {{ sap_swpm_java_scs_instance_hostname }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_java_scs_instance_hostname' is empty!
{% endif %}
# NW_SCS_Instance.scsInstanceNumber =
{% if sap_swpm_java_scs_instance_nr | string | trim | length > 0 %}
NW_SCS_Instance.instanceNumber = {{ sap_swpm_java_scs_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_java_scs_instance_nr' is empty!
{% endif %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_JAVA_Export.keyPhrase = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password' is empty!XXX      Inifile Section: 'nw_config_central_services_java'
ERROR:      Inifile Parameter: 'NW_JAVA_Export.keyPhrase'
{% endif %}
#                                                                 #
#  END  section nw_config_central_services_java                   #
###################################################################
{% endif %}
{% if 'nw_config_primary_application_server_instance' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_primary_application_server_instance     #
#                                                                 #
# Primary Application Server (PAS) contains:
# - Internet Communication Manager (ICM),
# - Gateway (GW) and
# - ABAP Dispatcher (DI/WP) work processes.
# Formerly called the Central Instance (CI).
{% if sap_swpm_pas_instance_hostname | string | trim | length > 0 %}
NW_CI_Instance.ciVirtualHostname = {{ sap_swpm_pas_instance_hostname }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_pas_instance_hostname' is empty!
{% endif %}
{% if sap_swpm_pas_instance_nr | string | trim | length > 0 %}
NW_CI_Instance.ciInstanceNumber = {{ sap_swpm_pas_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_pas_instance_nr' is empty!
{% endif %}
# NW_CI_Instance.nodesNum = 
# NW_CI_Instance.nodesNumber = defNodes
# NW_WPConfiguration.ciBtcWPNumber = 6
# NW_WPConfiguration.ciDialogWPNumber = 10
#                                                                 #
#  END  section nw_config_primary_application_server_instance     #
###################################################################
{% endif %}
{% if 'nw_config_additional_application_server_instance' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_additional_application_server_instance  #
#                                                                 #
# Additional Application Server (AAS) contains:
# - ABAP Dispatcher (DI/WP) work processes.
# Formerly called the Dialog Instance (DI).
# Instance number of SAP NetWeaver Application Server. Leave empty for default.
{% if sap_swpm_aas_instance_nr | string | trim | length > 0 %}
NW_AS.instanceNumber = {{ sap_swpm_aas_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_aas_instance_nr' is empty!
{% endif %}

# Do not skip unpacking archives if adding the SAP NetWeaver Application Server to another operating system / host. Default is 'false'.
# NW_AS.skipUnpacking = false

# Start the SAP NetWeaver Application Server at the end of the installation. Default is 'true'.
# NW_AS.start = true

# Virtual host name of the SAP NetWeaver Application Server instance. Leave empty to use the existing host name
NW_DI_Instance.virtualHostname = {{ sap_swpm_aas_instance_hostname }}
#                                                                 #
#  END  section nw_config_additional_application_server_instance  #
###################################################################
{% endif %}
{% if 'nw_config_ers' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_ers                                     #
#                                                                 #
{% if sap_swpm_ers_instance_hostname | string | trim | length > 0 %}
nw_instance_ers.ersVirtualHostname = {{ sap_swpm_ers_instance_hostname }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ers_instance_hostname' is empty!
{% endif %}
{% if sap_swpm_ers_instance_nr | string | trim | length > 0 %}
nw_instance_ers.ersInstanceNumber = {{ sap_swpm_ers_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ers_instance_nr' is empty!
{% endif %}

# Disable 'Automatic Instance and Service Restart' for SAP SWPM Unattended Mode,
# otherwise by default SAP SWPM will use sapcontrol -queryuser -function Stop and will cause error
# "User? Password? Stop. ERROR:FAIL: Invalid Credentials"
nw_instance_ers.restartSCS = false
#                                                                 #
#  END  section nw_config_ers                                     #
###################################################################
{% endif %}
{% if 'nw_config_ports' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_ports                                   #
#                                                                 #
{% if sap_swpm_ascs_instance_nr | string | trim | length > 0 %}
NW_CI_Instance.ciMSPort = 36{{ sap_swpm_ascs_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ascs_instance_nr' is empty!
{% endif %}
{% if sap_swpm_ascs_instance_nr | string | trim | length > 0 %}
NW_checkMsgServer.abapMSPort = 36{{ sap_swpm_ascs_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ascs_instance_nr' is empty!
{% endif %}
# NW_CI_Instance.ciMSPortInternal = 
# NW_CI_Instance.createGlobalProxyInfoFile = false
# NW_CI_Instance.createGlobalRegInfoFile = false
# NW_CI_Instance.scsMSPortInternal =
# NW_SCS_Instance.scsMSPort =
# NW_SCS_Instance.createGlobalProxyInfoFile = false
# NW_SCS_Instance.createGlobalRegInfoFile = false
#                                                                 #
#  END  section nw_config_ports                                   #
###################################################################
{% endif %}
{% if 'nw_config_java_ume' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_java_ume                                #
#                                                                 #
UmeConfiguration.adminName = J2EE_ADM_{{ sap_swpm_sid }}
{% if sap_swpm_ume_j2ee_admin_password | string | trim | length > 0 %}
UmeConfiguration.adminPassword = {{ sap_swpm_ume_j2ee_admin_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
UmeConfiguration.adminPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_ume_j2ee_admin_password', is empty!XXX      Inifile Section: 'nw_config_java_ume'
ERROR:      Inifile Parameter: 'UmeConfiguration.adminPassword'
{% endif %}
{% endif %}
UmeConfiguration.guestName = J2EE_GST_{{ sap_swpm_sid }}
{% if sap_swpm_ume_sapjsf_password | string | trim | length > 0 %}
UmeConfiguration.sapjsfPassword = {{ sap_swpm_ume_sapjsf_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
UmeConfiguration.sapjsfPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_ume_sapjsf_password', is empty!XXX      Inifile Section: 'nw_config_java_ume'
ERROR:      Inifile Parameter: 'UmeConfiguration.sapjsfPassword'
{% endif %}
{% endif %}
UmeConfiguration.umeClient = {{ sap_swpm_ume_client_nr }}
{% if sap_swpm_pas_instance_hostname | string | trim | length > 0 %}
UmeConfiguration.umeHost = {{ sap_swpm_pas_instance_hostname }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_pas_instance_hostname' is empty!
{% endif %}
{% if sap_swpm_ume_instance_nr | string | trim | length > 0 %}
UmeConfiguration.umeInstance = {{ sap_swpm_ume_instance_nr }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ume_instance_nr' is empty!
{% endif %}
UmeConfiguration.umeType = {{ sap_swpm_ume_type }}
# UmeConfiguration.sapjsfName = SAPJSF
#                                                                 #
#  END  section nw_config_java_ume                                #
###################################################################
{% endif %}
{% if 'nw_config_java_feature_template_ids' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_java_feature_template_ids               #
#                                                                 #
NW_internal.useProductVersionDescriptor = true
nw_java_import.buildJEEusingExtraMileTool = {{ 'true' if sap_swpm_java_import_method == 'extramile' else 'false' }}

# If use PV = true
# SAP SWPM 1.0 for SAP NetWeaver AS (JAVA), Product Version Software Instance **Feature Template IDs** comma-separated list
Select_PPMS_Instances.ListOfSelectedInstances = {% set selected_ids = [] %}{%- for item_selected in sap_swpm_java_template_id_selected_list %}
{%- if item_selected in sap_swpm_java_template_id_lookup_dictionary -%}
{{ selected_ids.append(sap_swpm_java_template_id_lookup_dictionary[item_selected]) }}
{%- endif %}
{%- endfor %}{{ selected_ids | flatten | join(',') }}

## If use PV = false [LEGACY for before NWAS JAVA 7.40]
## Comma-separated value list containing which product instances (formerly known as usage types) are installed. Used for handling product instances in unattended mode.
## SAP_Software_Features_Select.selectedInstancesForInstallation = AS,AAS,BASIC,NW-MODEL,ESR,PI,PI-AF
#                                                                 #
#  END  section nw_config_java_feature_template_ids               #
###################################################################
{%- endif %}
{% if 'nw_config_webdisp_generic' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_webdisp_generic                         #
#                                                                 #
NW_Webdispatcher_Instance.wdInstanceNumber = {{ sap_swpm_wd_instance_nr }}
# NW_webdispatcher_Instance.encryptionMode = Always
# NW_webdispatcher_Instance.useWdHTTPPort = false
NW_webdispatcher_Instance.wdHTTPPort = 80{{ sap_swpm_wd_instance_nr }}
NW_webdispatcher_Instance.wdHTTPSPort = 443{{ sap_swpm_wd_instance_nr }}
NW_webdispatcher_Instance.wdVirtualHostname = {{ sap_swpm_wd_virtual_host }}

NW_Webdispatcher_Instance.configureSystemConnectivity = {{ sap_swpm_wd_system_connectivity | lower }}
NW_webdispatcher_Instance.backEndSID = {{ sap_swpm_wd_backend_sid }}
NW_webdispatcher_Instance.msHTTPPort = {{ sap_swpm_wd_backend_ms_http_port }}
NW_webdispatcher_Instance.msHost = {{ sap_swpm_wd_backend_ms_host }}
NW_webdispatcher_Instance.scenarioSize = {{ sap_swpm_wd_backend_scenario_size }}

NW_webdispatcher_Instance.activateICF = {{ sap_swpm_wd_activate_icf | lower }}
NW_webdispatcher_Instance.rfcHost = {{ sap_swpm_wd_backend_rfc_host }}
NW_webdispatcher_Instance.rfcInstance = {{ sap_swpm_wd_backend_rfc_instance_nr }}
NW_webdispatcher_Instance.rfcClient = {{ sap_swpm_wd_backend_rfc_client_nr }}
NW_webdispatcher_Instance.rfcUser = {{ sap_swpm_wd_backend_rfc_user }}
{% if sap_swpm_wd_backend_rfc_user_password | string | trim | length > 0 %}
NW_webdispatcher_Instance.rfcPassword = {{ sap_swpm_wd_backend_rfc_user_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_webdispatcher_Instance.rfcPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_wd_backend_rfc_user_password', is empty!XXX      Inifile Section: 'nw_config_webdisp_generic'
ERROR:      Inifile Parameter: 'NW_webdispatcher_Instance.rfcPassword'
{% endif %}
{% endif %}
#                                                                 #
#  END  section nw_config_webdisp_generic                         #
###################################################################
{% endif %}
{% if 'nw_config_webdisp_gateway' in sap_swpm_inifile_sections_list %}

###################################################################
# nw_config_webdisp_gateway
#
# It is recommended to install gateway as part of ASCS
# It is NOT recommended to install webdispatcher as part of ASCS. A separate Web Dispatcher instance should be installed (SAP Note 908097)
###################################################################
{% if sap_swpm_ascs_install_gateway is boolean %}
NW_CI_Instance.ascsInstallGateway = {{ sap_swpm_ascs_install_gateway | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_ascs_install_gateway' is defined as '{{ sap_swpm_ascs_install_gateway }}', type '{{ sap_swpm_ascs_install_gateway | type_debug }}', must be defined as a boolean!
{% endif %}
# NW_SCS_Instance.ascsInstallGateway = {{ sap_swpm_ascs_install_gateway | lower }}

# Embedded SAP Web Dispatcher
# NW_CI_Instance.ascsInstallWebDispatcher = false
# NW_SCS_Instance.ascsInstallWebDispatcher = false
{% endif %}
{% if 'nw_config_host_agent' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_host_agent                              #
#                                                                 #
{% if sap_swpm_install_saphostagent is boolean %}
NW_System.installSAPHostAgent = {{ sap_swpm_install_saphostagent | lower }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_install_saphostagent' is defined as '{{ sap_swpm_install_saphostagent }}', type '{{ sap_swpm_install_saphostagent | type_debug }}', must be defined as a boolean!
{% endif %}
#                                                                 #
#  END  section nw_config_host_agent                              #
###################################################################
{% endif %}
{% if 'nw_config_post_load_abap_reports' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_post_load_abap_reports                  #
#                                                                 #
# Activate ICF node '/SAP/BC/REST/SLPROTOCOL'
NW_CI_Instance_ABAP_Reports.enableActivateICFService = true

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableSPAMUpdateWithoutStackXml = false

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableTMSConfigWithoutStackXml = false

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableTransportsWithoutStackXml = false

# Need specific new password of the DDIC user in client 000, different from Master Password
# NW_CI_Instance_ABAP_Reports.needNewDDIC000Password = false

# Need specific new password of the DDIC user in client 001, different from Master Password
# NW_CI_Instance_ABAP_Reports.needNewDDIC001Password = false

# Need specific new password of the SAP* user in client 000, different from Master Password
# NW_CI_Instance_ABAP_Reports.needNewSapStar000Password = false

# Need specific new password of the SAP* user in client 001, different from Master Password
# NW_CI_Instance_ABAP_Reports.needNewSapStar001Password = false

# Specify new password of the DDIC user in client 000, different from Master Password
# NW_CI_Instance_ABAP_Reports.ddic000Password =

# Specify new password of the DDIC user in client 001, different from Master Password
# NW_CI_Instance_ABAP_Reports.ddic001Password =

# Specify new password of the SAP* user in client 000, different from Master Password
# NW_CI_Instance_ABAP_Reports.sapStar000Password =

# Specify new password of the SAP* user in client 001, different from Master Password
# NW_CI_Instance_ABAP_Reports.sapStar001Password =
#                                                                 #
#  END  section nw_config_post_load_abap_reports                  #
###################################################################
{% endif %}
{% if 'nw_config_livecache' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_livecache                               #
#                                                                 #
NW_liveCache.controlUserPwd =
NW_liveCache.liveCacheHost =
NW_liveCache.liveCacheID =
NW_liveCache.liveCacheUser =
NW_liveCache.liveCacheUserPwd =
NW_liveCache.useLiveCache =
#                                                                 #
#  END  section nw_config_livecache                               #
###################################################################
{% endif %}
{% if 'nw_config_sld' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_sld                                     #
#                                                                 #
NW_SLD_Configuration.configureSld =
NW_SLD_Configuration.sldHost =
NW_SLD_Configuration.sldPort =
NW_SLD_Configuration.sldUseHttps =
NW_SLD_Configuration.sldUser =
NW_SLD_Configuration.sldUserPassword =
#                                                                 #
#  END  section nw_config_sld                                     #
###################################################################
{% endif %}
{% if 'nw_config_abap_language_packages' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_abap_language_packages                  #
#                                                                 #
NW_Language_Inst_Dialogs.install = true
# Path to language archive files (e.g. S4HANAOP***_LANG_EN.SAR)
NW_Language_Inst_Dialogs.folders = /software
# Selected languages comma-separated list (by default DE,EN are installed)
NW_Language_Inst_Dialogs.languages = AR,BG,CA,CS,DA,EL,ES,ET,FI,FR,HE,HI,HR,HU,IT,JA,KK,KO,LT,LV,MS,NL,NO,PL,PT,RO,RU,SH,SK,SL,SV,TH,TR,UK,VI,ZF,ZH
#                                                                 #
#  END  section nw_config_abap_language_packages                  #
###################################################################
{% endif %}
{% if 'sap_os_linux_user' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section sap_os_linux_user                                 #
#                                                                 #
{% if sap_swpm_sapadm_uid | string | trim | length > 0 %}
nwUsers.sapadmUID = {{ sap_swpm_sapadm_uid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_sapadm_uid' is empty!
{% endif %}
{% if sap_swpm_sapsys_gid | string | trim | length > 0 %}
nwUsers.sapsysGID = {{ sap_swpm_sapsys_gid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_sapsys_gid' is empty!
{% endif %}
{% if sap_swpm_sidadm_uid | string | trim | length > 0 %}
nwUsers.sidAdmUID = {{ sap_swpm_sidadm_uid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_sidadm_uid' is empty!
{% endif %}
#                                                                 #
#  END  section sap_os_linux_user                                 #
###################################################################
{% endif %}
{% if 'swpm_installation_media_download_service' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section swpm_installation_media_download_service          #
# Note: This section is not in use by sap_swpm Ansible Role       #
#                                                                 #
# nwUsers.sapServiceSIDPassword =
# download_service.directory =
# DownloadService.EnableProxy =
# DownloadService.HostName =
# DownloadService.Password =
# DownloadService.Port =
# DownloadService.ProvideAuthentication =
# DownloadService.Username =
# DownloadService.planNumber =
#                                                                 #
#  END  section swpm_installation_media_download_service          #
###################################################################
{% endif %}
{% if 'nw_config_java_icm_credentials' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section nw_config_java_icm_credentials                    #
#                                                                 #
{% if sap_swpm_ume_j2ee_admin_password | string | trim | length > 0 %}
NW_IcmAuth.webadmPassword = {{ sap_swpm_ume_j2ee_admin_password }}
{% else %}
{% if sap_swpm_master_password | string | trim | length > 0 %}
NW_IcmAuth.webadmPassword = {{ sap_swpm_master_password }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_master_password', fallback for 'sap_swpm_ume_j2ee_admin_password', is empty!XXX      Inifile Section: 'nw_config_java_icm_credentials'
ERROR:      Inifile Parameter: 'NW_IcmAuth.webadmPassword'
{% endif %}
{% endif %}
#                                                                 #
#  END  section nw_config_java_icm_credentials                    #
###################################################################
{% endif %}
{% if 'solman_abap_swpm1' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section solman_abap_swpm1                                 #
# Note: This section is not in use by sap_swpm Ansible Role       #
#                                                                 #
InitDeclusteringForImport.decluster = false
#                                                                 #
#  END  section solman_abap_swpm1                                 #
###################################################################
{% endif %}
{% if 'solman_daa_swpm1' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section solman_daa_swpm1                                  #
# Note: This section is not in use by sap_swpm Ansible Role       #
#                                                                 #
#{% if sap_swpm_diagnostics_agent_password | string | trim | length > 0 %}
# DiagnosticsAgent.dasidAdmPassword = {{ sap_swpm_diagnostics_agent_password }}
#{% else %}
#ERROR:FAIL: Variable 'sap_swpm_diagnostics_agent_password' is empty!
#{% endif %}
# DiagnosticsAgent.installSAPHostAgent
# DiagnosticsAgent.InstanceNumber
# DiagnosticsAgent.LogicalHostName
# DiagnosticsAgent.SAPJVMVersion
# DiagnosticsAgent.SAProuter.Password
# DiagnosticsAgent.SAProuter.RouteString
# DiagnosticsAgent.SID
# DiagnosticsAgent.SLD.Connection
# DiagnosticsAgent.SLD.HostName
# DiagnosticsAgent.SLD.Password
# DiagnosticsAgent.SLD.PortNumber
# DiagnosticsAgent.SLD.UseHTTPS
# DiagnosticsAgent.SLD.UserName
# DiagnosticsAgent.SolMan.Connection
# DiagnosticsAgent.SolMan.HostName
# DiagnosticsAgent.SolMan.Password
# DiagnosticsAgent.SolMan.PortNumber
# DiagnosticsAgent.SolMan.UserName
# DiagnosticsAgent.SolMan.UseSSL
#                                                                 #
#  END  section solman_daa_swpm1                                  #
###################################################################
{% endif %}
{% if 'syscopy_export_anydb' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section syscopy_export_anydb                              #
# Note: This section is not in use by sap_swpm Ansible Role       #
#                                                                 #
# InitDeclusteringForExport.decluster =
# NW_ABAP_Export_Dialog.customPackageOrder =
# NW_ABAP_Export_Dialog.customSortOrderFile =
# NW_ABAP_Export_Dialog.exportTimeFile =
# NW_ABAP_Export_Dialog.importTimeFile =
# NW_ABAP_Export_Dialog.jobNumberGroupLarge = 7
# NW_ABAP_Export_Dialog.jobNumberGroupSmall = 4
# NW_ABAP_Export_Dialog.migmonComHost =
# NW_ABAP_Export_Dialog.migmonComPort =
# NW_ABAP_Export_Dialog.migmonComType = EXCHANGE
# NW_ABAP_Export_Dialog.migmonDataTransferType = NET
# NW_ABAP_Export_Dialog.migmonFtpExchangeDir =
# NW_ABAP_Export_Dialog.migmonFtpExportDir =
# NW_ABAP_Export_Dialog.migmonFtpHost =
# NW_ABAP_Export_Dialog.migmonFtpPassword =
# NW_ABAP_Export_Dialog.migmonFtpUser =
NW_ABAP_Export_Dialog.migmonJobNum = 3
NW_ABAP_Export_Dialog.migmonLoadArgs = -stop_on_error
# NW_ABAP_Export_Dialog.migmonNetExchangeDir =
# NW_ABAP_Export_Dialog.migmonTaskArgs =
# NW_ABAP_Export_Dialog.nonStandardAbapObjectsHandlingSkip = false
NW_ABAP_Export_Dialog.parallelR3szchkExecution = true
NW_ABAP_Export_Dialog.r3szchkDetermineSizeValue = DB
# NW_ABAP_Export_Dialog.r3szchkJobNum = 10
NW_ABAP_Export_Dialog.repeatExport = COMPLETE
NW_ABAP_Export_Dialog.splitPackageLimitVal = 5000
# NW_ABAP_Export_Dialog.splitMaxTableNumVal = 1000
# NW_ABAP_Export_Dialog.splitTableFile =
# NW_ABAP_Export_Dialog.splitTableLimitVal = 300
# NW_ABAP_Export_Dialog.splitTableNumVal = 10
# NW_ABAP_Export_Dialog.splitUseMaxTableNum = false
# NW_ABAP_Export_Dialog.splitUsePackageLimit = true
# NW_ABAP_Export_Dialog.splitUseTableFile = false
# NW_ABAP_Export_Dialog.splitUseTableLimit = false
# NW_ABAP_Export_Dialog.splitUseTableNum = true
# NW_ABAP_Export_Dialog.sqlFileDir =
NW_ABAP_Export_Dialog.targetHardwarePlatform = LITTLE_ENDIAN

## Target database types for Linux are ADA, HDB, DB6, ORA, SYB
NW_ABAP_Export_Dialog.targetDbType = {{ sap_swpm_export_target_db_type }}

# NW_ABAP_Export_Dialog.useAdditionalExportHosts = false
# NW_ABAP_Export_Dialog.useAdvancedUnloadConfig = false
# NW_ABAP_Export_Dialog.useCustomPackageOrder = false
# NW_ABAP_Export_Dialog.useCustomSortOrder = false
# NW_ABAP_Export_Dialog.useMigMonConfig = false
# NW_ABAP_Export_Dialog.useParallelExportImport = false
# NW_ABAP_Export_Dialog.useSplit = true
NW_ABAP_Export_Dialog.useSqlFiles = NOSQL
# NW_ABAP_Export_Dialog.useUnicodeTargetSystem =
NW_ABAP_Export_Dialog.useUnsortedUnload = true

NW_Export.accessLevel4ExportDir = DEFAULT
NW_Export.choiceSepKernel = false
NW_Export.mainExportDir = {{ sap_swpm_export_files_path }}

# Do not stop SAP System before data is unloaded
# SAP SWPM is unable to automatically stop the SAP System (i.e. DB, ASCS, PAS instances),
# if stop is true then SAP SWPM Unattended will fail on step mainExportParameters
NW_Export.stopRunningSystem = true

NW_readProfileDir.profileDir = /sapmnt/{{ sap_swpm_sid | upper }}/profile

NW_getLoadType.loadType = {{ sap_swpm_load_type }}
NW_getLoadType.importManuallyExecuted = false
#                                                                 #
#  END  section syscopy_export_anydb                              #
###################################################################
{% endif %}
{% if 'syscopy_import_anydb_ibmdb2' in sap_swpm_inifile_sections_list %}

###################################################################
# BEGIN section syscopy_import_anydb_ibmdb2                       #
# Note: This section is not in use by sap_swpm Ansible Role       #
#                                                                 #
# db6.Additional_DbServer =
# db6.cluster.HADRPort1 =
# db6.cluster.HADRPort2 =
# db6.cluster.SyncMode =
# db6.ConfigureCluster = false
# db6.DropSchemaList =
# db6.InstallPureScale = false
# db6.InstallTSA = false
# db6.minimizeDatabaseSizeCompression =
# db6.minimizeDatabaseSizeCompressionJava =
# db6.minimizeDatabaseSizeDeferredTable = true
# db6.notuseMcod =
# db6.NumAdditionalPartitions =
# db6.useDB2ControlFiles = false
# db6.UseDb2NativeEncryption = false
# NW_adaptProfile.templateFiles =
# NW_CreateDBandLoad.movePVCforUsagePiAndDi =
db6.allowUnsignedDatabaseSoftware = true
db6.cluster.ClusterType = HADR (High Availability Disaster Recovery)
db6.usingSystemCopyBRforHADR = true
{% if sap_swpm_db_host | string | trim | length > 0 %}
NW_getDBInfoGeneric.dbhost = {{ sap_swpm_db_host }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_host' is empty!
{% endif %}
{% if sap_swpm_db_sid | string | trim | length > 0 %}
NW_getDBInfoGeneric.dbsid = {{ sap_swpm_db_sid }}
{% else %}
ERROR:FAIL: Variable 'sap_swpm_db_sid' is empty!
{% endif %}
NW_getLoadType.loadType = {{ sap_swpm_load_type }}
NW_getLoadType.importManuallyExecuted = false
NW_getUnicode.isUnicode = true
# NW_getDBInfoGeneric.strictDbSidCheck = true
storageBasedCopy.db6.CommunicationPortNumber = 5912
storageBasedCopy.db6.PortRangeEnd = 5917
storageBasedCopy.db6.PortRangeStart = 5914
# storageBasedCopy.db6.db6updatedbpath =
#                                                                 #
#  END  section syscopy_import_anydb_ibmdb2                       #
###################################################################
{% endif %}
